<div class="flex items-center gap-4">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-10 w-10 rounded-full object-cover"
  />
  <div
    class="border-neutral-2 w-full cursor-pointer rounded-md border px-4 py-3"
    (click)="showPostModal = true"
  >
    <span class="text-neutral-2 font-mono">Start a post</span>
  </div>
</div>
<ng-content .select="button"></ng-content>
<div class="mt-1 flex items-center gap-2">
  <hr class="bg-neutral-2 h-0.5 w-full border-0" />
  <div class="relative shrink-0 cursor-pointer">
    <div
      class="text-neutral-1 flex gap-2"
      (click)="showDropdown = !showDropdown"
    >
      <div class="font-mono">
        <span class="mr-0.5">Sort by: </span>
        <span class="font-bold">Newest</span>
      </div>
      <i class="bi bi-chevron-down mt-1"></i>
    </div>
    <div
      *ngIf="showDropdown"
      class="bg-neutral-4 absolute right-0 top-full flex flex-col gap-4 rounded-md p-4 shadow-md"
    >
      <span class="text-neutral-2 hover:text-secondary hover:font-bold"
        >Newest</span
      >
      <span class="text-neutral-2 hover:text-secondary hover:font-bold"
        >Oldest</span
      >
    </div>
  </div>
</div>
<wagademy-base-modal
  title="POST"
  *ngIf="showPostModal"
  (modalClosed)="showPostModal = false"
>
  <form class="p-5" [formGroup]="form">
    <wagademy-text-area
      placeholder="What do you want to talk about?"
      formControlName="post"
    ></wagademy-text-area>
    <div class="flex justify-between">
      <i
        class="cursor-pointer"
        (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'top'"
        (emojiPickerSelect)="handleSelection($event)"
        >😄</i
      >
      <wagademy-button-primary
        *ngIf="!isLoading"
        class="mt-5 w-52"
        (click)="post()"
        [disabled]="form.invalid"
        >POST</wagademy-button-primary
      >
      <img
        class="h-20 w-20"
        *ngIf="isLoading"
        src="../../assets/img/loading-icon.svg"
        alt="loading icon"
      />
    </div>
  </form>
</wagademy-base-modal>
<wagademy-success-modal
  *ngIf="congratulationMessage"
  [message]="congratulationMessage"
></wagademy-success-modal>
<wagademy-warning-modal
  *ngIf="failMessage"
  text="Your post was not published, an error occurred"
  [error]="true"
  (yes)="ok()"
  [title]="failMessage"
></wagademy-warning-modal>
