<div class="flex items-center gap-4">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-10 w-10 rounded-full object-cover"
  />
  <lens-academy-input
    type="text"
    placeholder="Start a post"
    class="grow"
  ></lens-academy-input>
</div>
<div class="mt-1 flex items-center gap-2">
  <hr class="bg-neutral-2 h-0.5 w-full border-0" />
  <div class="relative shrink-0 cursor-pointer">
    <div
      class="text-neutral-1 flex gap-2"
      (click)="showDropdown = !showDropdown"
    >
      <div class="font-mono">
        <span class="mr-0.5">Sort by: </span>
        <span class="font-bold">Newest</span>
      </div>
      <i class="bi bi-chevron-down mt-1"></i>
    </div>
    <div
      *ngIf="showDropdown"
      class="bg-neutral-4 absolute right-0 top-full flex flex-col gap-4 rounded-md p-4 shadow-md"
    >
      <span class="text-neutral-2 hover:text-secondary hover:font-bold"
        >Newest</span
      >
      <span class="text-neutral-2 hover:text-secondary hover:font-bold"
        >Oldest</span
      >
    </div>
  </div>
</div>
