<lens-academy-navbar-authenticated></lens-academy-navbar-authenticated>
<div class="container mx-auto my-9 px-3">
  <div
    id="redirect-home"
    class="text-secondary mb-6 flex cursor-pointer items-center gap-2"
    [routerLink]="['/home']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div class="mx-auto max-w-[786px]">
    <div class="grid grid-cols-1 gap-x-8 md:grid-cols-2">
      <div class="mb-8 md:mb-0">
        <img
          class="h-full"
          src="../../assets/img/img-course-example.svg"
          alt="course image"
        />
      </div>
      <div>
        <p class="text-neutral-1 text-2xl font-bold">Course name</p>
        <p class="text-neutral-2 pb-8 font-mono">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="text-neutral-1 text-2xl font-bold">Duration</p>
        <p class="text-neutral-2 pb-8 font-mono">
          <i class="bi bi-clock text-secondary pr-2"></i>30h
        </p>
        <div>
          <div class="flex justify-between">
            <p class="text-neutral-1 text-2xl font-bold">Info</p>
            <p
              class="bg-primary text-secondary rounded-3xl bg-opacity-10 px-4 py-2"
            >
              <i class="bi bi-circle-fill pr-2 text-xs"></i>Online
            </p>
          </div>
          <div class="flex items-center justify-between gap-x-4 pt-2">
            <img src="./assets/img/user-example-info.svg" alt="user info" />
            <p class="text-neutral-2 font-mono">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint <b>see more...</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end py-10">
      <div class="w-full md:w-52">
        <lens-academy-button-primary (click)="showAddEmailModal = true"
          >SUBSCRIBE</lens-academy-button-primary
        >
      </div>
    </div>
    <p class="text-secondary pb-6 text-sm font-bold">COMMENTS</p>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <img
            src="https://i.pravatar.cc/300"
            alt="avatar example"
            class="h-6 w-6 rounded-full object-cover"
          />
          <span class="text-neutral-1 mr-2 font-mono">User name</span>
          <div class="bg-neutral-2 h-1 w-1 rounded-full"></div>
          <span class="text-neutral-2 font-mono text-sm">10 hours ago</span>
        </div>
        <span class="text-neutral-2 font-mono text-sm">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet
        </span>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <img
            src="https://i.pravatar.cc/300"
            alt="avatar example"
            class="h-6 w-6 rounded-full object-cover"
          />
          <span class="text-neutral-1 mr-2 font-mono">User name</span>
          <div class="bg-neutral-2 h-1 w-1 rounded-full"></div>
          <span class="text-neutral-2 font-mono text-sm">10 hours ago</span>
        </div>
        <span class="text-neutral-2 font-mono text-sm">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet
        </span>
      </div>
    </div>
  </div>
</div>
<lens-academy-add-email-modal
  *ngIf="showAddEmailModal"
></lens-academy-add-email-modal>
