<div class="shadow-md">
  <div
    class="container cursor-pointer py-3 sm:mx-auto"
    *ngIf="router.url === '/account-type'"
    [routerLink]="['/']"
  >
    <img src="../../assets/img/lens-logo.svg" alt="lens logo" class="mx-auto" />
  </div>
  <div
    class="container cursor-pointer py-3 sm:mx-auto"
    *ngIf="
      router.url === '/create-profile' ||
      router.url === '/create-company-profile' ||
      router.url === '/squads'
    "
    [routerLink]="['/home']"
  >
    <img src="../../assets/img/lens-logo.svg" alt="lens logo" class="mx-auto" />
  </div>
</div>
