<div class="mb-4 flex items-start justify-between gap-4">
  <h3 class="break-all text-2xl font-bold text-secondary">Areas of interest</h3>
  <div
    class="flex shrink-0 items-center rounded-full bg-opacity-10"
    [ngClass]="interest.length === 10 ? 'bg-secondary' : 'bg-danger'"
  >
    <span
      class="mx-3 my-1.5 font-mono text-sm"
      [ngClass]="interest.length === 10 ? 'text-secondary' : 'text-danger'"
      >{{ (interest.length / 10) * 100 }}% Completed</span
    >
  </div>
</div>
<div
  class="grid grid-cols-1 gap-3 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
>
  <span
    class="break-all bg-neutral-3 px-2 py-1 font-mono text-sm"
    *ngFor="let interest of interest"
    >{{ interest }}</span
  >
</div>
<div class="mt-4 flex justify-end">
  <div
    class="flex cursor-pointer items-center gap-2 self-end"
    [routerLink]="['/home/profile/profile-edit']"
    [queryParams]="{ stepToEdit: 'INTEREST' }"
  >
    <span class="mb-1 font-mono font-bold">Edit</span>
    <i class="bi bi-pencil text-secondary"></i>
  </div>
</div>
