<form [formGroup]="form" class="my-10 flex flex-col gap-10 md:flex-row">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-24 w-24 self-center rounded-full object-cover md:self-start"
  />
  <div class="flex grow flex-col gap-4">
    <legend class="text-secondary mb-2 text-2xl font-bold">Profile</legend>
    <lens-academy-form-field [control]="getControl('name')" label="Name">
      <lens-academy-input
        type="text"
        placeholder="Name"
        formControlName="name"
      ></lens-academy-input>
    </lens-academy-form-field>
    <lens-academy-form-field [control]="getControl('email')" label="Email">
      <lens-academy-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></lens-academy-input>
    </lens-academy-form-field>
    <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
      <lens-academy-form-field
        [control]="getControl('dateOfBirth')"
        label="Date of Birth"
        class="flex-1"
      >
        <lens-academy-input
          type="date"
          formControlName="dateOfBirth"
        ></lens-academy-input>
      </lens-academy-form-field>
      <lens-academy-form-field
        [control]="getControl('cellphone')"
        label="Contact Number"
        class="flex-1"
      >
        <lens-academy-input
          type="tel"
          placeholder="Contact Number"
          formControlName="cellphone"
        ></lens-academy-input>
      </lens-academy-form-field>
    </div>
    <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
      <lens-academy-form-field
        [control]="getControl('country')"
        label="Country"
        class="flex-1"
      >
        <lens-academy-input
          type="text"
          placeholder="Country"
          formControlName="country"
        ></lens-academy-input>
      </lens-academy-form-field>
      <lens-academy-form-field
        [control]="getControl('state')"
        label="State"
        class="flex-1"
      >
        <lens-academy-input
          type="text"
          placeholder="State"
          formControlName="state"
        ></lens-academy-input>
      </lens-academy-form-field>
    </div>
    <lens-academy-form-field [control]="getControl('about')" label="About">
      <lens-academy-text-area
        placeholder="About"
        formControlName="about"
      ></lens-academy-text-area>
    </lens-academy-form-field>
    <lens-academy-button-primary
      class="mt-12 w-full self-end sm:w-52"
      (click)="saveEdit.emit()"
      >SAVE</lens-academy-button-primary
    >
  </div>
</form>
