<div class="bg-neutral-3 flex flex-col gap-4 p-4">
  <div class="flex items-center gap-4">
    <img
      src="https://i.pravatar.cc/300"
      alt="avatar example"
      class="border-secondary h-12 w-12 rounded-full border-4 object-cover"
    />
    <span class="text-neutral-1 font-mono font-bold">TechNova Solutions</span>
  </div>
  <img
    src="../../../assets/img/friend-card-example.jpg"
    alt="activity example"
  />
  <span class="text-neutral-2 font-mono text-sm"
    >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat.</span
  >
</div>
