<div class="flex flex-col gap-4 bg-neutral-3 p-4">
  <div class="flex items-center gap-4">
    <img
      src="https://i.pravatar.cc/300"
      alt="avatar example"
      class="h-12 w-12 rounded-full object-cover"
    />
    <span class="font-mono font-bold text-neutral-1">Name user</span>
  </div>
  <img
    src="../../../assets/img/friend-card-example.jpg"
    alt="activity example"
  />
  <span class="font-mono text-sm text-neutral-2"
    >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.</span
  >
</div>
