<div class="absolute inset-0 backdrop-blur-sm">
  <div class="flex h-screen items-center justify-center">
    <div
      class="bg-neutral-4 mx-3 flex max-w-[496px] flex-col items-center rounded-md p-8 text-center shadow-lg"
    >
      <img src="../../../assets/img/warning-icon.svg" alt="warning icon" />
      <h3 class="text-secondary mb-2 mt-6 text-2xl font-bold">
        {{ title }}
      </h3>
      <span class="text-neutral-1 font-mono">{{ text }}</span>
      <div *ngIf="!error" class="mt-6 flex w-full flex-col gap-4 sm:flex-row">
        <wagademy-button-secondary class="flex-1" (click)="cancel.emit()"
          >CANCEL</wagademy-button-secondary
        >
        <wagademy-button-primary class="flex-1" (click)="yes.emit()"
          >YES</wagademy-button-primary
        >
      </div>
      <div *ngIf="error" class="mt-6 flex w-full flex-col gap-4 sm:flex-row">
        <wagademy-button-primary class="flex-1" (click)="yes.emit()"
          >OK</wagademy-button-primary
        >
      </div>
    </div>
  </div>
</div>
