<div class="border-neutral-6 flex flex-col rounded-sm border-4 p-2 sm:p-7">
  <div class="flex items-center">
    <button [routerLink]="['/profile-public']">
      <img
        [src]="sanitizeUrl(publication.profile.picture?.original?.url)"
        alt="avatar example"
        class="h-12 w-12 rounded-full object-cover"
      />
    </button>
    <span class="text-neutral-1 ml-4 break-all font-mono text-base font-bold">
      {{ publication.profile.name || publication.profile.handle }}</span
    >
  </div>
  <div class="pt-5">
    <img
      *ngIf="
        publication.metadata.media.length &&
        publication.metadata.media[0].original.mimeType.includes('image')
      "
      [src]="sanitizeUrl(publication.metadata.media[0].original.url)"
      alt="post media"
      class="object-scale-down md:max-h-[441px]"
    />
  </div>
</div>
