<lens-academy-base-modal title="DETAILS" (modalClosed)="modalClosed.emit()">
  <div class="flex flex-col gap-8 p-6">
    <lens-academy-squad-banner
      *ngIf="type === 'SQUAD'"
    ></lens-academy-squad-banner>
    <lens-academy-avatars [type]="type" [data]="data"></lens-academy-avatars>
    <lens-academy-personal-info [data]="data"></lens-academy-personal-info>
    <lens-academy-about [data]="data"></lens-academy-about>
    <lens-academy-education [data]="data"></lens-academy-education>
    <lens-academy-professional-experience
      [data]="data"
    ></lens-academy-professional-experience>
    <lens-academy-areas-of-expertise
      *ngIf="type !== 'TEACHER'"
      [data]="data"
    ></lens-academy-areas-of-expertise>
    <lens-academy-areas-of-interest
      *ngIf="type !== 'TEACHER'"
      [data]="data"
    ></lens-academy-areas-of-interest>
    <lens-academy-skills-and-competencies
      *ngIf="type !== 'TEACHER'"
      [data]="data"
    ></lens-academy-skills-and-competencies>
    <lens-academy-recommendations
      *ngIf="type === 'TEACHER'"
      [data]="data"
    ></lens-academy-recommendations>
  </div>
</lens-academy-base-modal>
