<wagademy-base-modal title="DETAILS" (modalClosed)="modalClosed.emit()">
  <div class="flex flex-col gap-8 p-6">
    <wagademy-squad-banner *ngIf="type === 'SQUAD'"></wagademy-squad-banner>
    <wagademy-avatars [type]="type" [data]="data"></wagademy-avatars>
    <wagademy-personal-info [data]="data"></wagademy-personal-info>
    <wagademy-about [data]="data"></wagademy-about>
    <wagademy-education [data]="data"></wagademy-education>
    <wagademy-professional-experience
      [data]="data"
    ></wagademy-professional-experience>
    <wagademy-areas-of-expertise
      *ngIf="type !== 'TEACHER'"
      [data]="data"
    ></wagademy-areas-of-expertise>
    <wagademy-areas-of-interest
      *ngIf="type !== 'TEACHER'"
      [data]="data"
    ></wagademy-areas-of-interest>
    <wagademy-skills-and-competencies
      *ngIf="type !== 'TEACHER'"
      [data]="data"
    ></wagademy-skills-and-competencies>
    <wagademy-recommendations
      *ngIf="type === 'TEACHER'"
      [data]="data"
    ></wagademy-recommendations>
  </div>
</wagademy-base-modal>
