<div class="container mx-auto min-h-screen px-3 sm:px-0">
  <div class="pb-4 pt-6 flex flex-wrap justify-between gap-6">
    <h2 class="font-sans font-medium text-4xl text-base-100">GPTs</h2>
    @if (gptType === 'FINETUNING') {
    <button
      class="btn btn-primary w-52"
      onclick="create_fine_turning_modal.showModal()"
      aria-label="create fine tuning"
    >
      Create Fine Tuning
    </button>
    } @else {
    <button
      class="btn btn-primary w-52"
      onclick="create_training_data_modal.showModal()"
      aria-label="create training data"
    >
      Create Training Data
    </button>
    }
  </div>
  <div>
    <ul class="menu sm:menu-horizontal menu-md m-4 sm:m-0">
      <li class="sm:w-32 w-full">
        <div
          class="border-b-2 border-base-300 text-base-100 rounded-none font-mono flex justify-center"
          [ngClass]="{
            'border-primary': gptType === 'FINETUNING'
          }"
          (click)="gptType = 'FINETUNING'"
        >
          Fine tuning
        </div>
      </li>
      <li class="sm:w-32 w-full">
        <div
          class="border-b-2 border-base-300 text-base-100 rounded-none font-mono flex justify-center"
          [ngClass]="{
            'border-primary': gptType === 'TRAININGDATA'
          }"
          (click)="gptType = 'TRAININGDATA'"
        >
          Training data
        </div>
      </li>
    </ul>
  </div>

  @if (isLoading) {
  <wagademy-loading></wagademy-loading>
  } @else { @if (gptType === 'FINETUNING') {
  <div class="flex flex-wrap gap-2 pb-4 pt-8">
    @for (filter of filters; track filters) {
    <button
      class="border border-base-100 hover:border-secondary font-mono rounded-full p-2 hover:bg-secondary"
      [ngClass]="[
        filter.name === selectedFilter
          ? 'bg-secondary text-base-100 border-none'
          : 'text-base-100'
      ]"
      (click)="selectedFilter = filter.name; findManyCompanyChatbots()"
    >
      {{ filter.name }}
    </button>
    }
  </div>

  @if (!chatBots.length) {
  <div
    class="flex w-full items-center font-bold text-2xl text-base-100 justify-center mt-[30vh]"
  >
    <p>There is no content available</p>
  </div>

  } @else {
  <div class="bg-neutral rounded-lg w-full">
    <div class="overflow-x-auto p-4">
      <table
        class="w-full text-left cursor-pointer table"
        aria-describedby="create-fine-turning"
      >
        <thead class="text-base-100 font-bold font-mono text-base">
          <tr>
            <th class="py-4 px-6" scope="col">Thumbnail</th>
            <th class="py-4 px-6" scope="col">Fine Tuning</th>
            <th class="py-4 px-6 pl-16" scope="col">Status</th>
            <th class="py-4 px-6" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          @for (chat of chatBots; track chat.id) {
          <tr class="text-base-100 font-mono text-lg">
            <td class="py-4 px-3">
              <div class="flex gap-8 pl-8">
                @if(chat.thumbnail.url){
                <img
                  class="w-12 h-12 rounded-2xl"
                  [src]="chat.thumbnail.url"
                  alt="thumbnail"
                />
                }@else(){
                <div class="w-12 h-12 rounded-2xl bg-base-300"></div>
                }
              </div>
            </td>
            <td class="py-4 px-6 md:px-0 md:pl-6 md:pr-[500px]">
              <div>
                <p class="font-bold">{{ chat.title }}</p>
                <p>{{ chat.description }}</p>
              </div>
            </td>
            <td class="py-4 px-6">
              <p
                class="px-4 py-3 rounded-full w-40 text-center"
                [ngClass]="{
                  'bg-success text-success-content': chat.status === 'SUCCESS',
                  'bg-warning text-warning-content':
                    chat.status === 'PROCESSING',
                  'bg-error text-base-100': chat.status === 'FAIL'
                }"
              >
                {{ chat.status }}
              </p>
            </td>
            <td class="py-4">
              <button
                onclick="modal.showModal()"
                (click)="chatBotToDelete = chat.id"
                aria-label="remove item"
              >
                <i class="bi bi-trash3 pl-8 text-base-200 cursor-pointer"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex justify-center lg:justify-end pt-6 pb-3">
    <wagademy-pagination
      [page]="pageFineTuning"
      [take]="takeFineTuning"
      [count]="countFineTuning"
      (pageChange)="pageFineTuning = $event"
    ></wagademy-pagination>
  </div>
  }} @else if (gptType === 'TRAININGDATA' && !trainingData.length) {
  <div
    class="flex w-full items-center font-bold text-2xl text-base-100 justify-center mt-[30vh]"
  >
    <p>There is no content available</p>
  </div>
  } @else {
  <div class="pt-8">
    <div class="bg-neutral rounded-lg w-full">
      <div class="overflow-x-auto p-4">
        <table
          class="w-full text-left cursor-pointer table"
          aria-describedby="create-fine-turning"
        >
          <thead class="text-base-100 font-bold font-mono text-base">
            <tr>
              <th class="py-4 px-6" scope="col">Training data</th>
              <th class="py-4 px-6 pr-8 flex justify-end" scope="col">
                Options
              </th>
            </tr>
          </thead>
          <tbody>
            @for (data of trainingData; track data.id) {
            <tr class="text-base-100 font-mono text-lg">
              <td class="py-4 px-6 md:px-0 md:pl-6 md:pr-40">
                <p class="text-sm">{{ data.title }}</p>
              </td>
              <td class="py-4 px-6 flex justify-end gap-4">
                <i
                  class="bi bi-download text-base-200 cursor-pointer"
                  (click)="download(data.id, data.title)"
                ></i>
                <i
                  class="bi bi-eye text-base-200 cursor-pointer"
                  (click)="view(data.id)"
                ></i>
                <button
                  onclick="modal.showModal()"
                  (click)="trainingDataToDelete = data.id"
                  aria-label="remove item"
                >
                  <i class="bi bi-trash3 text-base-200 cursor-pointer"></i>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="flex justify-center lg:justify-end pt-6 pb-3">
    <wagademy-pagination
      [page]="pageTrainingData"
      [take]="takeTrainingData"
      [count]="countTrainingData"
      (pageChange)="pageTrainingData = $event"
    ></wagademy-pagination>
  </div>

  } }
</div>

<dialog id="create_fine_turning_modal" class="modal modal-middle">
  <div class="modal-box w-3/4 container">
    <div class="flex justify-between items-center pb-14">
      <h2
        class="text-base-100 mx-auto font-sans md:text-4xl text-2xl font-medium"
      >
        Create Fine Tuning
      </h2>
      <button onclick="create_fine_turning_modal.close()">
        <i class="bi bi-x-lg text-base-100 cursor-pointer"></i>
      </button>
    </div>
    <form method="dialog" [formGroup]="fineTuningForm">
      <div class="pb-6">
        <p class="font-mono text-sm text-base-100 pb-2">Thumbnail</p>
        @if(thumbnail){
        <div class="relative">
          <img
            [src]="getImageSrc(thumbnail)"
            class="w-full h-44 rounded-lg object-cover relative"
            alt="Uploaded"
          />
          <div class="absolute right-2 top-2">
            <button
              class="rounded-full px-2 bg-neutral shadow py-1 ml-2"
              id="remove"
              (click)="myFile.value = ''; removeThumbnail()"
            >
              <i class="bi bi-trash3 text-error"></i>
            </button>
          </div>
        </div>
        } @else {
        <div
          class="md:p-10 p-5 border border-dashed border-base-300 w-full h-44 flex items-center justify-center cursor-pointer text-primary rounded-lg"
          [ngClass]="{ 'bg-secondary': isDragging }"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave()"
          (drop)="onDropThumbnail($event)"
          (click)="myFile.click()"
        >
          <div class="flex-col flex items-center">
            <i class="bi bi-cloud-arrow-up text-[40px] text-primary"></i>
            <p class="text-center md:text-xl text-xs">
              <span class="text-primary">Click to upload</span>
              <span class="text-base-100"> or drag and drop</span>
            </p>
            <p class="text-center text-base-200 md:text-sm text-[10px] mt-2">
              Maximum file size 50MB
            </p>
          </div>
        </div>
        }
        <input
          #myFile
          type="file"
          id="file"
          name="filename"
          accept=".jpg, .jpeg"
          class="hidden"
          (change)="onThumbnailChange($event)"
        />
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="fineTuningForm.controls.title"
          label="Title"
        >
          <wagademy-input
            placeholder="title example"
            formControlName="title"
            type="text"
          ></wagademy-input>
        </wagademy-form-field>
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="fineTuningForm.controls.description"
          label="Description"
        >
          <textarea
            [ngClass]="
              fineTuningForm.controls.description.invalid &&
              fineTuningForm.controls.description.touched
                ? 'textarea-error'
                : 'focus:border-primary'
            "
            placeholder="Type your description here..."
            class="w-full h-[168px] bg-neutral p-4 textarea textarea-bordered text-base-100"
            formControlName="description"
          ></textarea>
        </wagademy-form-field>
      </div>
      <div class="pb-6">
        <p class="font-mono text-sm text-base-100 pb-2"></p>
        <wagademy-form-field
          [control]="fineTuningForm.controls.trainingDataId"
          label="Training data"
        >
          <wagademy-select
            [items]="trainingDataDropdownOptions"
            formControlName="trainingDataId"
          ></wagademy-select>
        </wagademy-form-field>
      </div>
      <div class="sm:flex justify-center gap-4">
        <button
          onclick="create_fine_turning_modal.close()"
          class="btn btn-outline btn-primary sm:w-[210px] w-full"
        >
          Cancel
        </button>
        <div class="pt-4 sm:pt-0">
          <button
            class="btn btn-primary sm:w-[210px] w-full"
            [disabled]="fineTuningForm.invalid || !thumbnail"
            (click)="createFineTuning()"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</dialog>
<dialog id="create_training_data_modal" class="modal modal-middle">
  <div class="modal-box w-3/4 container">
    <div class="flex justify-between items-center pb-14">
      <h2
        class="text-base-100 mx-auto font-sans md:text-4xl text-2xl font-medium"
      >
        Upload Training Data
      </h2>
      <button onclick="create_training_data_modal.close()">
        <i class="bi bi-x-lg text-base-100 cursor-pointer"></i>
      </button>
    </div>
    <form method="dialog" [formGroup]="trainingDataForm">
      <div class="pb-6">
        <p class="font-mono text-sm text-base-100 pb-8">Upload file</p>
        @if(trainingDataFile){
        <span>{{ trainingDataFile.name }}</span>
        <button
          class="rounded-full px-2 bg-neutral shadow py-1 ml-2"
          id="remove"
          (click)="myFile.value = ''; removeTrainingDataFile()"
        >
          <i class="bi bi-trash3 text-error"></i>
        </button>
        } @else {
        <div
          class="md:p-10 p-5 border border-dashed border-base-300 w-full h-44 flex items-center justify-center cursor-pointer text-primary rounded-lg"
          [ngClass]="{ 'bg-secondary': isDragging }"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave()"
          (drop)="onDropTrainingData($event)"
          (click)="!trainingDataFile && myFile.click()"
        >
          <div class="flex-col flex items-center">
            <i class="bi bi-cloud-arrow-up text-[40px] text-primary"></i>
            <p class="text-center md:text-xl text-xs">
              <span class="text-primary">Click to upload</span>
              <span class="text-base-100"> or drag and drop</span>
            </p>
            <p class="text-center text-base-200 md:text-sm text-[10px] mt-2">
              json files
            </p>

            <input
              #myFile
              type="file"
              id="file"
              name="filename"
              accept=".json"
              class="hidden"
              (change)="onTrainingDataChange($event)"
            />
          </div>
        </div>
        }
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="trainingDataForm.controls.title"
          label="Title"
        >
          <wagademy-input
            placeholder="title example"
            formControlName="title"
            type="text"
          ></wagademy-input>
        </wagademy-form-field>
      </div>
      <div class="sm:flex gap-2 pb-14">
        <p class="text-base-100">Don't have a file?</p>
        <a
          class="font-medium text-primary cursor-pointer"
          [routerLink]="['/pages/build-training-data']"
          ><u>Build one now</u>
        </a>
      </div>
      <div class="sm:flex justify-center gap-4">
        <button
          onclick="create_training_data_modal.close()"
          class="btn btn-outline btn-primary sm:w-[210px] w-full"
        >
          Cancel
        </button>
        <div class="pt-4 sm:pt-0">
          <button
            class="btn btn-primary sm:w-[210px] w-full"
            [disabled]="trainingDataForm.invalid || !trainingDataFile"
            (click)="createTrainingData()"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</dialog>
@if (gptType === 'FINETUNING') {
<wagademy-modal
  title="Are you sure you want to remove this fine tuning?"
  actionButtonLabel="Remove"
  message="This action cannot be reversed."
  (actionButtonClick)="removeFineTuning()"
  typeModal="cancel"
>
</wagademy-modal>
} @if (gptType === 'TRAININGDATA') {
<wagademy-modal
  title="Are you sure you want to remove this training data?"
  actionButtonLabel="Remove"
  message="This action cannot be reversed."
  [isLoading]="isRemovingTrainingData"
  (actionButtonClick)="removeTrainingData()"
  typeModal="cancel"
>
</wagademy-modal>
}
