<wagademy-navbar></wagademy-navbar>
<div class="container px-3 sm:mx-auto">
  <div class="mt-6 flex flex-col gap-8 sm:flex-row sm:items-center">
    <div
      class="text-secondary flex cursor-pointer items-center gap-2"
      (click)="back()"
    >
      <i class="bi-arrow-left text-xl"></i>
      <span class="font-mono font-bold">Back</span>
    </div>
    <wagademy-input
      type="search"
      class="flex-1"
      placeholder="Search"
    ></wagademy-input>
    <wagademy-button-secondary
      class="sm:w-52"
      (click)="showCreateSquadModal = true"
      >CREATE SQUAD</wagademy-button-secondary
    >
  </div>
  <div class="mb-4 mt-8 flex items-baseline gap-2">
    <h3 class="text-secondary text-2xl font-bold">Squads</h3>
    <ng-container *ngIf="mode === 'MANAGE'">
      <i class="bi-chevron-right text-neutral-2 mt-1"></i>
      <span class="text-neutral-1 text-sm font-bold">YOUR SQUADS</span>
    </ng-container>
  </div>
  <div
    class="mb-8 grid flex-1 grid-cols-1 place-items-center sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"
  >
    <ng-container *ngIf="mode === 'JOIN'">
      <ng-container *ngFor="let squad of squadsToJoin">
        <wagademy-card
          [squad]="squad"
          [mode]="mode"
          (join)="joinSquad($event)"
          (showParticipants)="showParticipantsModal = true"
        ></wagademy-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="mode === 'MANAGE'">
      <ng-container *ngFor="let squad of squadsBelonged">
        <wagademy-card
          [squad]="squad"
          [mode]="mode"
          (quit)="squadIndexToQuit = $event"
          (showParticipants)="showParticipantsModal = true"
        ></wagademy-card>
      </ng-container>
      <div class="relative flex h-64 w-64 items-center justify-center">
        <div
          class="bg-secondary flex h-10 w-10 cursor-pointer items-center justify-center rounded-full"
          (click)="mode = 'JOIN'"
        >
          <i class="bi bi-plus text-neutral-4 text-4xl"></i>
        </div>
        <span
          *ngIf="squadsBelonged.length === 0"
          class="text-neutral-1 absolute top-10 text-2xl font-bold"
          >Add Squad
        </span>
      </div>
    </ng-container>
  </div>
</div>
<wagademy-base-modal
  title="CREATE SQUAD"
  *ngIf="showCreateSquadModal"
  (modalClosed)="showCreateSquadModal = false"
>
  <form class="flex flex-col items-center gap-4 p-6" [formGroup]="form">
    <img
      src="https://i.pravatar.cc/300"
      alt="avatar example"
      class="h-24 w-24 rounded-full object-cover"
    />
    <wagademy-form-field
      label="Squad Name"
      [control]="getControl('name')"
      class="w-full"
    >
      <wagademy-input
        type="text"
        placeholder="Squad Name"
        formControlName="name"
      ></wagademy-input>
    </wagademy-form-field>
    <wagademy-button-primary
      class="mt-14 w-full sm:w-52"
      (click)="createSquad()"
      >CREATE</wagademy-button-primary
    >
  </form>
</wagademy-base-modal>
<wagademy-success-modal
  *ngIf="congratulationsMessage"
  [message]="congratulationsMessage"
></wagademy-success-modal>
<div *ngFor="let squad of squadsBelonged">
  <wagademy-warning-modal
    *ngIf="squadIndexToQuit"
    (yes)="quitSquad(squadIndexToQuit)"
    (cancel)="squadIndexToQuit = false"
    title="Do you really want to leave this squad?"
    text="This is a notification to inform you that about to leave your current team. Upon continuing, you will be disconnected from the current squadron and any ongoing information shared within that squadron will no longer be accessible."
  ></wagademy-warning-modal>
</div>
<wagademy-participants
  *ngIf="showParticipantsModal"
  (modalClosed)="showParticipantsModal = false"
></wagademy-participants>
