<wagademy-navbar-authenticated-company></wagademy-navbar-authenticated-company>
<section class="container mx-auto mb-12 px-6">
  <div class="mx-auto mb-10 mt-8 max-w-lg 2xl:max-w-xl">
    <wagademy-widget>
      <div class="button pt-3">
        <button
          class="bg-secondary text-neutral-4 hover:bg-primary hover:text-neutral-1 rounded-lg px-4"
          (click)="showDetailsModal = true"
        >
          Post Certificate
        </button>
      </div>
    </wagademy-widget>
  </div>
  <div class="mb-10 flex flex-col gap-8 sm:flex-row">
    <wagademy-input
      type="search"
      placeholder="Search"
      class="grow"
    ></wagademy-input>
    <wagademy-input-select></wagademy-input-select>
  </div>
  <div class="pb-14">
    <p class="text-neutral-1 pb-6 text-2xl font-bold">
      Companies you might like
    </p>
    <div
      class="grid grid-cols-1 place-items-center gap-8 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6"
    >
      <div class="h-full cursor-pointer md:max-w-[192px]">
        <wagademy-company-card
          name="InnovateTech"
          bio="A tech startup focused on disruptive innovations in artificial intelligence and machine learning."
        ></wagademy-company-card>
      </div>
      <div class="h-full cursor-pointer md:max-w-[192px]">
        <wagademy-company-card
          name="CloudSolutions Inc"
          bio="A leading provider of cloud-based solutions for businesses, offering scalable and secure infrastructure."
        ></wagademy-company-card>
      </div>
      <div class="h-full cursor-pointer md:max-w-[192px]">
        <wagademy-company-card
          name="SecureNet Systems"
          bio="A cybersecurity firm specializing in threat intelligence, risk assessment, and proactive defense strategies."
        ></wagademy-company-card>
      </div>
      <div class="h-full cursor-pointer md:max-w-[192px]">
        <wagademy-company-card
          name="TechGenius Solutions"
          bio="A software development company delivering innovative and user-centric applications for diverse industries."
        ></wagademy-company-card>
      </div>
    </div>
  </div>
  <p class="text-neutral-1 mb-14 text-2xl font-bold">Companies Activities</p>
  <div
    class="mb-12 cursor-pointer md:mb-16 md:max-h-[416px]"
    *ngFor="let publication of publications"
  >
    <wagademy-companies-activities
      [publication]="publication"
    ></wagademy-companies-activities>
  </div>
</section>
<wagademy-details-modal
  *ngIf="showDetailsModal"
  (cancel)="showDetailsModal = false"
></wagademy-details-modal>
