<lens-academy-navbar-authenticated-company></lens-academy-navbar-authenticated-company>
<section class="container mx-auto mb-12 px-6">
  <div class="mx-auto mb-10 mt-8 max-w-lg 2xl:max-w-xl">
    <lens-academy-widget></lens-academy-widget>
  </div>
  <div class="mb-10 flex flex-col gap-8 sm:flex-row">
    <lens-academy-input
      type="search"
      placeholder="Search"
      class="grow"
    ></lens-academy-input>
    <lens-academy-input-select></lens-academy-input-select>
  </div>
  <div class="pb-14">
    <p class="text-neutral-1 pb-6 text-2xl font-bold">
      Companies you might like
    </p>
    <div
      class="grid grid-cols-1 place-items-center gap-8 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6"
    >
      <div class="cursor-pointer md:max-w-[192px]">
        <lens-academy-company-card></lens-academy-company-card>
      </div>
      <div class="cursor-pointer md:max-w-[192px]">
        <lens-academy-company-card></lens-academy-company-card>
      </div>
      <div class="cursor-pointer md:max-w-[192px]">
        <lens-academy-company-card></lens-academy-company-card>
      </div>
      <div class="cursor-pointer md:max-w-[192px]">
        <lens-academy-company-card></lens-academy-company-card>
      </div>
    </div>
  </div>
  <div class="pb-14">
    <p class="text-neutral-1 pb-8 text-2xl font-bold">Companies Activities</p>
    <div class="cursor-pointer pb-8 md:max-h-[416px]">
      <lens-academy-companies-activities></lens-academy-companies-activities>
    </div>
    <div class="cursor-pointer pb-8 md:max-h-[416px]">
      <lens-academy-companies-activities></lens-academy-companies-activities>
    </div>
    <div class="cursor-pointer pb-8 md:max-h-[416px]">
      <lens-academy-companies-activities></lens-academy-companies-activities>
    </div>
    <div class="cursor-pointer md:max-h-[416px]">
      <lens-academy-companies-activities></lens-academy-companies-activities>
    </div>
  </div>
</section>
