<div class="absolute inset-0 backdrop-blur-sm">
  <div class="flex h-screen items-center justify-center">
    <div
      class="bg-neutral-4 flex w-[496px] flex-col items-center rounded-md px-8 py-8 shadow-lg"
    >
      <img src="../../../assets/img/img-add-email.svg" alt="add email icon" />
      <p class="text-neutral-1 py-6 font-mono">
        Do you want add a reminder to your email?
      </p>
      <div
        class="grid w-full grid-cols-1 gap-x-4 gap-y-4 pt-6 md:grid-cols-2 md:gap-y-0"
      >
        <wagademy-button-secondary id="cancel" (click)="cancel.emit()"
          >NO</wagademy-button-secondary
        >
        <wagademy-button-primary (click)="showEmailConfirmModal = true"
          >YES</wagademy-button-primary
        >
      </div>
    </div>
  </div>
</div>
<wagademy-email-confirm-modal
  *ngIf="showEmailConfirmModal"
  (cancel)="showEmailConfirmModal = false"
></wagademy-email-confirm-modal>
<wagademy-success-modal
  *ngIf="congratulationsMessage"
  [message]="congratulationsMessage"
></wagademy-success-modal>
