<div class="container mx-auto px-5 pb-4">
  <div class="flex gap-2 items-center py-4 cursor-pointer">
    <i class="bi bi-arrow-left text-base-100 text-xl"></i>
    <p class="font-bold text-sm text-base-100 font-mono">Back</p>
  </div>
  <div
    class="w-full bg-base-100 sm:rounded-tr-lg sm:rounded-tl-lg px-5 text-neutral"
  >
    <p class="py-4 text-sm md:text-base mr-2 font-bold font-mono">
      {{ selectedChat }}
    </p>
  </div>
  <div class="flex flex-col relative">
    <div class="overflow-y-scroll h-[60vh] mb-16 p-6 grid gap-12" #chatScroll>
      <p
        class="p-4 bg-secondary text-base-100 rounded-2xl rounded-bl-none sm:w-1/2 w-3/4 bg-dark-02 font-mono"
      >
        Hi, I’m here to help you!
      </p>
      <p
        class="p-4 bg-secondary text-base-100 rounded-2xl rounded-bl-none sm:w-1/2 w-3/4 bg-dark-02 font-mono"
      >
        What do you want know about {{ selectedChat }}?
      </p>
      <div class="flex justify-end">
        <p
          class="p-4 rounded-2xl rounded-br-none bg-neutral sm:w-1/2 w-3/4 text-base-100 float-right font-mono"
        >
          {{ message }}
        </p>
      </div>
    </div>
  </div>
  <div class="relative">
    <input
      class="w-full pl-3 h-32 border-base-300 border placeholder:text-base-200 text-base-100 outline-none rounded-lg bg-neutral font-mono"
      placeholder="Type your message"
    />
    <div
      class="flex absolute inset-y-0 right-0 items-center pr-4 pt-14 bottom-0"
    >
      <button class="btn btn-primary" type="submit">Send</button>
    </div>
  </div>
</div>
<wagademy-modal
  title="You do not currently have access to the GPT model"
  actionButtonLabel="Explore"
  message="You need to be invited by the company that created the GPT model or purchase credits to access it. Explore our options to get started!"
  (actionButtonClick)="exploreOption()"
>
</wagademy-modal>
