<wagademy-navbar-authenticated></wagademy-navbar-authenticated>
<div class="container mx-auto px-3">
  <div
    class="text-secondary mt-9 flex cursor-pointer items-center gap-2"
    [routerLink]="['/home/profile']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div class="mx-auto md:w-2/3 2xl:w-2/5">
    <wagademy-profile-step
      [form]="form"
      *ngIf="stepToEdit === 'PROFILE'"
    ></wagademy-profile-step>
    <wagademy-education-step
      [form]="form"
      *ngIf="stepToEdit === 'EDUCATION'"
    ></wagademy-education-step>
    <wagademy-professional-experience-step
      [form]="form"
      *ngIf="stepToEdit === 'EXPERIENCE'"
    ></wagademy-professional-experience-step>
    <wagademy-area-of-expertise-step
      [form]="form"
      *ngIf="stepToEdit === 'EXPERTISE'"
    ></wagademy-area-of-expertise-step>
    <wagademy-area-of-interest-step
      [form]="form"
      *ngIf="stepToEdit === 'INTEREST'"
    ></wagademy-area-of-interest-step>
    <wagademy-skills-and-competencies-step
      [form]="form"
      *ngIf="stepToEdit === 'SKILL'"
    ></wagademy-skills-and-competencies-step>
  </div>
</div>
