<div class="flex min-h-screen flex-col">
  <wagademy-navbar></wagademy-navbar>
  <div
    class="flex flex-1 flex-col items-center py-9"
    [ngClass]="{ 'justify-center': mode === 'CREATED' }"
  >
    <ng-container *ngIf="mode !== 'CREATED'">
      <div class="container mx-auto flex px-3" *ngIf="mode === 'VIEW'">
        <div
          class="text-secondary mr-4 flex cursor-pointer items-center gap-2 sm:mr-0"
          (click)="back()"
        >
          <i class="bi-arrow-left text-xl"></i>
          <span class="font-mono font-bold">Back</span>
        </div>
        <h2 class="text-neutral-1 mx-auto text-3xl font-bold">
          Confirm your details
        </h2>
      </div>
      <wagademy-stepper
        *ngIf="mode !== 'VIEW'"
        [currentStep]="mode !== 'CREATE' ? 9999 : currentStep"
        [steps]="steps"
      ></wagademy-stepper>
      <div
        class="divide-secondary grid w-full gap-10 divide-y-2 divide-solid px-3 md:w-2/3 2xl:w-2/5"
      >
        <wagademy-profile-step
          [form]="form"
          [mode]="mode"
          (nextStep)="nextStep()"
          (edit)="edit(1)"
          (saveEdit)="showSummary()"
          *ngIf="currentStep === 1 || mode === 'VIEW'"
        ></wagademy-profile-step>
        <wagademy-education-step
          [form]="form"
          [mode]="mode"
          (nextStep)="nextStep()"
          (edit)="edit(2)"
          (saveEdit)="showSummary()"
          (previousStep)="previousStep()"
          *ngIf="currentStep === 2 || mode === 'VIEW'"
        ></wagademy-education-step>
        <wagademy-area-of-expertise-step
          [form]="form"
          [mode]="mode"
          (edit)="edit(3)"
          (saveEdit)="showSummary()"
          (nextStep)="nextStep()"
          (previousStep)="previousStep()"
          *ngIf="currentStep === 3 || mode === 'VIEW'"
        ></wagademy-area-of-expertise-step>
        <wagademy-professional-experience-step
          [form]="form"
          [mode]="mode"
          (edit)="edit(4)"
          (saveEdit)="showSummary()"
          (nextStep)="nextStep()"
          (previousStep)="previousStep()"
          *ngIf="currentStep === 4 || mode === 'VIEW'"
        ></wagademy-professional-experience-step>
        <wagademy-area-of-interest-step
          [form]="form"
          [mode]="mode"
          (edit)="edit(5)"
          (saveEdit)="showSummary()"
          (nextStep)="nextStep()"
          (previousStep)="previousStep()"
          *ngIf="currentStep === 5 || mode === 'VIEW'"
        ></wagademy-area-of-interest-step>
        <wagademy-skills-and-competencies-step
          [form]="form"
          [mode]="mode"
          (edit)="edit(6)"
          (saveEdit)="showSummary()"
          (nextStep)="nextStep()"
          (previousStep)="previousStep()"
          *ngIf="currentStep === 6 || mode === 'VIEW'"
        ></wagademy-skills-and-competencies-step>
      </div>
      <wagademy-button-primary
        class="mt-14 w-full px-3 sm:w-52"
        *ngIf="mode === 'VIEW'"
        (click)="createCurriculum()"
        >SAVE AND CONFIRM</wagademy-button-primary
      >
    </ng-container>
    <div *ngIf="mode === 'CREATED'" class="px-3">
      <img
        src="../../assets/img/people-icon.svg"
        alt="people icon"
        class="mx-auto"
      />
      <h2 class="text-neutral-1 mb-4 mt-2 text-center text-3xl font-bold">
        Do you want to join a squad?
      </h2>
      <p class="text-neutral-2 mb-14 text-center font-mono sm:w-[400px]">
        You don't need to join a squad now, this option is available for you to
        join in the future.
      </p>
      <div class="flex flex-col gap-6 sm:flex-row">
        <wagademy-button-secondary class="sm:w-52" [routerLink]="['/home']"
          >SKIP</wagademy-button-secondary
        >
        <wagademy-button-primary class="sm:w-52" [routerLink]="['/squads']"
          >YES</wagademy-button-primary
        >
      </div>
    </div>
  </div>
</div>
