<div class="flex flex-col gap-4">
  <h3 class="text-secondary text-2xl font-bold">Education</h3>
  <ng-container>
    <div class="flex flex-col gap-2">
      <span class="text-neutral-1 text-sm font-bold">EDUCATION</span>
      <span class="text-neutral-2 font-mono">{{ education }} </span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-neutral-1 text-sm font-bold">DEGREE</span>
      <span class="text-neutral-2 font-mono">{{ degree }} </span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-neutral-1 text-sm font-bold">DESCRIPTION</span>
      <span class="text-neutral-2 font-mono">{{ description }} </span>
    </div>
  </ng-container>
</div>
