<nav class="bg-neutral w-full">
  <div
    class="container mx-auto flex flex-wrap items-center justify-between px-5 md:px-10 py-4"
  >
    <div class="flex w-full justify-between xl:w-auto">
      <a [routerLink]="'/'">
        <img
          width="212"
          height="40"
          class="cursor-pointer"
          ngSrc="./assets/img/images/img-logo-navbar.webp"
          alt="wagademy logo"
        />
      </a>
      <button
        aria-label="menu"
        class="cursor-pointer text-xl xl:hidden"
        type="button"
        (click)="toggleNavbar()"
      >
        <i
          class="bi bi-three-dots-vertical text-base-100"
          title="list"
          aria-hidden="true"
        ></i>
      </button>
    </div>
    <div
      class="items-center justify-end xl:flex"
      [ngClass]="{ hidden: !showMenu }"
    >
      <div class="pt-4 xl:pt-0">
        <a
          class="btn btn-primary xl:mx-4 text-base-100 text-xl w-24"
          href="https://chat.wagademy.com"
        >
          Chat
        </a>
      </div>
      <div class="pt-4 xl:pt-0">
        <button
          class="btn btn-secondary text-base-100 text-xl w-24 xl:w-48"
          [routerLink]="['/account/sign-in']"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</nav>
