<div class="absolute inset-0 backdrop-blur-sm">
  <div class="flex h-screen items-center justify-center">
    <div
      class="mx-3 flex w-[308px] flex-col items-center rounded-md bg-neutral-4 p-3 py-8 shadow-lg sm:p-8"
    >
      <img
        src="../../../assets/img/checkmark-circle-icon.svg"
        alt="checkmark circle icon"
      />
      <h3 class="mb-2 mt-6 text-2xl font-bold text-secondary">
        Congratulations!
      </h3>
      <span class="text-center font-mono text-neutral-1">{{ message }}</span>
    </div>
  </div>
</div>
