<div class="absolute inset-0 backdrop-blur-sm">
  <div class="flex h-screen items-center justify-center">
    <div
      class="bg-neutral-4 mx-3 flex w-[308px] flex-col items-center rounded-md p-3 py-8 shadow-lg sm:p-8"
    >
      <img src="../../../assets/img/check-icon.svg" alt="check icon" />
      <h3 class="text-secondary mb-2 mt-6 text-2xl font-bold">
        Congratulations!
      </h3>
      <span class="text-neutral-1 text-center font-mono">{{ message }}</span>
    </div>
  </div>
</div>
