<wagademy-navbar-authenticated></wagademy-navbar-authenticated>
<div class="container mx-auto my-9 px-3">
  <div
    class="text-secondary mb-6 flex cursor-pointer items-center gap-2"
    [routerLink]="['/home']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div>
    <div class="absolute">
      <img
        class="container h-[200px] sm:w-[640px] md:h-[320px] md:w-[800px] lg:w-[1512px]"
        src="../../assets/img/img-banner-example.svg"
        alt="banner image"
      />
    </div>
    <div class="relative h-[150px] w-[150px] md:h-[400px] md:w-[400px]">
      <img
        class="px-6 pb-8 pt-14 md:pt-40"
        src="../../assets/img/img-jobs-example.svg"
        alt="jobs image"
      />
    </div>
  </div>
  <div class="px-4 pb-4 md:px-6">
    <p class="text-neutral-1 pt-8 text-2xl font-bold md:pt-0">
      {{ job.company }}
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <p class="text-neutral-2 py-2 font-mono">
        {{ job.description }}
      </p>
    </div>
    <p class="text-neutral-1 pb-4 text-sm font-bold">310 FOLLOWERS</p>
    <div class="justify-between pt-6 md:flex md:items-center">
      <div class="flex gap-x-4 gap-y-4 md:gap-y-0">
        <div
          class="text-neutral-1 flex cursor-pointer py-2 font-mono text-base"
        >
          <p>Follow</p>
          <i class="bi bi-plus" aria-hidden="true"></i>
        </div>
        <div class="w-full sm:w-24 md:w-32 lg:w-52">
          <wagademy-button-primary>JOBS</wagademy-button-primary>
        </div>
        <div class="w-full sm:w-24 md:w-32 lg:w-52">
          <wagademy-button-secondary>MORE</wagademy-button-secondary>
        </div>
      </div>
      <div class="items-center justify-end gap-x-4 pt-4 sm:flex sm:pt-0">
        <p>Employees</p>
        <img
          class="cursor-pointer"
          src="../../assets/img/img-user-jobs.svg"
          alt="jobs image"
        />
      </div>
    </div>
  </div>
  <div class="pt-10">
    <div class="px-6 py-4">
      <p class="text-neutral-1 pb-2 text-2xl font-bold">About</p>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <p class="text-neutral-2 pb-4 font-mono">
          {{ job.about }}
        </p>
      </div>
      <div class="flex items-center">
        <i class="bi bi-briefcase text-secondary pr-2 text-2xl"></i>
        <p class="text-neutral-1 font-mono">Full remote work</p>
      </div>
    </div>
  </div>
  <div class="pt-10">
    <div class="px-4 py-4 md:px-6">
      <p class="text-neutral-1 pb-4 text-2xl font-bold">Company Publications</p>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        <div
          class="max-w-[416px] cursor-pointer"
          *ngFor="let post of job.posts"
        >
          <wagademy-job-card-details
            [company]="job.company"
            [post]="post"
          ></wagademy-job-card-details>
        </div>
      </div>
    </div>
  </div>
</div>
