<div class="py-28 mx-auto">
  <h2
    class="font-sans text-base-100 font-medium text-4xl text-center pb-[72px]"
  >
    What you are?
  </h2>
  <div class="sm:flex justify-center px-5 gap-8 pb-[72px]">
    <div class="flex justify-center text-base-200">
      <div
        class="w-[304px] h-[304px] rounded-xl mx-auto bg-neutral hover:shadow-hover hover:shadow-lg hover:text-base-100 cursor-pointer"
        (click)="selectPhysicalPerson()"
        [ngClass]="{ 'bg-secondary text-base-100': physicalPerson }"
      >
        <div class="py-[92px]">
          <i class="bi bi-person text-[72px] pb-4 flex justify-center"></i>
          <p class="font-sans font-medium text-2xl text-center">
            Physical Person
          </p>
        </div>
      </div>
    </div>
    <div class="pt-8 sm:pt-0 flex justify-center text-base-200">
      <div
        class="w-[304px] h-[304px] rounded-xl bg-neutral hover:shadow-hover hover:shadow-lg hover:text-base-100 cursor-pointer"
        (click)="selectCompany()"
        [ngClass]="{ 'bg-secondary text-base-100': company }"
      >
        <div class="py-[92px]">
          <i class="bi bi-buildings text-[72px] pb-4 flex justify-center"></i>
          <p class="font-sans font-medium text-2xl text-center">Company</p>
        </div>
      </div>
    </div>
  </div>
  @if (company || physicalPerson) {
  <div class="flex justify-center">
    <button class="btn btn-primary w-44" (click)="connectWallet()">
      Connect wallet
    </button>
  </div>
  }
</div>
