<wagademy-navbar-authenticated></wagademy-navbar-authenticated>
<section class="container mx-auto">
  <div class="flex flex-col items-center gap-4 md:flex-row md:gap-6">
    <div class="mt-8 w-10/12"><wagademy-input></wagademy-input></div>
    <div class="w-5/12 md:mt-10 md:w-2/12">
      <wagademy-button-primary (click)="followModal = true"
        >FOLLOW</wagademy-button-primary
      >
    </div>
  </div>
  <ng-container *ngFor="let contact of following; let i = index">
    <div
      class="border-neutral-5 flex flex-col justify-between border-b py-6 pl-4 md:flex-row md:pl-0"
    >
      <div class="flex flex-col md:flex-row">
        <img
          src="{{ profilePicture[i] }}"
          alt="avatar example"
          class="border-secondary h-28 w-28 rounded-full border-4 object-cover"
        />
        <div
          class="text-neutral-2 ml-6 mt-3 flex flex-col space-y-2 self-start"
        >
          <div class="flex">
            <span class="text-neutral-1 mr-[52px] text-sm font-bold">NAME</span>
            <p>{{ contact['profile']['name'] }}</p>
          </div>
          <div class="flex">
            <span class="text-neutral-1 mr-[64px] text-sm font-bold">AGE</span>
            <p>{{ getAge(curriculums[i]?.dateOfBirth) }}</p>
          </div>
          <p class="text-neutral-1 text-sm font-bold">INTEREST</p>
          <div
            class="grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5"
          >
            <div
              *ngFor="let interest of curriculums[i]?.interest"
              class="bg-neutral-2/5 w-20 rounded-full p-1 text-center"
            >
              {{ interest }}
            </div>
          </div>
        </div>
      </div>
      <wagademy-button-secondary
        class="mt-6 w-60 self-center pr-4 md:self-end"
        (click)="addRecommendationModal = true"
        >ADD RECOMMENDATION</wagademy-button-secondary
      >
    </div>
  </ng-container>
</section>
<wagademy-base-modal
  title="ADD RECOMMENDATION"
  *ngIf="addRecommendationModal"
  (modalClosed)="addRecommendationModal = false"
>
  <div class="flex flex-col items-center gap-4 py-6">
    <img
      src="https://i.pravatar.cc/300"
      alt="avatar example"
      class="border-primary mb-2 h-28 w-28 rounded-full border-4 object-cover"
    />
    <p class="text-2xl font-bold">Name Example</p>
    <form [formGroup]="form" class="mt-10 flex grow flex-col gap-4">
      <wagademy-form-field [control]="getControl('description')">
        <wagademy-text-area
          placeholder="Add recommendation"
          formControlName="description"
        ></wagademy-text-area>
      </wagademy-form-field>
      <wagademy-button-primary class="w-60" (click)="send()"
        >SEND</wagademy-button-primary
      >
    </form>
  </div>
</wagademy-base-modal>
<wagademy-base-modal
  title="FOLLOW"
  *ngIf="followModal"
  (modalClosed)="followModal = false"
>
  <form [formGroup]="followForm">
    <wagademy-input
      type="search"
      placeholder="Search"
      formControlName="search"
      class="my-6 w-full px-5"
    ></wagademy-input>
  </form>
  <div class="mb-6" *ngIf="!profile">
    <span class="px-5">NO PROFILE FOUND</span>
  </div>
  <div
    class="mb-6 flex items-center justify-between gap-4 px-5"
    *ngIf="profile"
  >
    <div class="flex gap-5">
      <img
        [src]="profileImageURL"
        alt="profile image"
        class="border-secondary h-10 w-10 rounded-full border-2"
      />
      <div class="text-neutral-2">
        <div class="flex items-center gap-3">
          <span class="text-neutral-1 text-sm font-bold">NAME</span
          ><span class="grow" *ngIf="profile.name">
            {{ profile.name }}
          </span>
          <span class="grow italic" *ngIf="!profile.name"> no name </span>
        </div>
        <div class="flex items-center gap-3">
          <span class="text-neutral-1 text-sm font-bold">BIO</span>
          <span class="grow truncate whitespace-nowrap" *ngIf="profile.bio">
            {{ profile.bio }}
          </span>
          <span class="grow whitespace-nowrap italic" *ngIf="!profile.bio">
            no bio
          </span>
        </div>
      </div>
    </div>
    <div class="flex w-40 justify-end">
      <wagademy-button-primary
        *ngIf="!isLoading"
        id="follow-button"
        (click)="
          profile.isFollowedByMe ? unfollow(profile.id) : follow(profile.id)
        "
        class="w-40"
        >{{
          profile.isFollowedByMe ? 'UNFOLLOW' : 'FOLLOW'
        }}</wagademy-button-primary
      >
      <img
        class="h-14 w-14"
        *ngIf="isLoading"
        src="../../assets/img/loading-icon.svg"
        alt="loading icon"
      />
    </div>
  </div>
</wagademy-base-modal>
