<div class="flex flex-col gap-4">
  <div class="flex items-start justify-between gap-4">
    <h3 class="text-secondary break-all text-2xl font-bold">
      Professional experience
    </h3>
    <div
      class="flex shrink-0 items-center rounded-full bg-opacity-10"
      [ngClass]="completed === 100 ? 'bg-secondary' : 'bg-danger'"
    >
      <span
        class="mx-3 my-1.5 font-mono text-sm"
        [ngClass]="completed === 100 ? 'text-secondary' : 'text-danger'"
        >{{ completed }}% Completed</span
      >
    </div>
  </div>
  <div class="divide-neutral-3 divide-y-2 divide-solid">
    <div
      *ngFor="let exp of _experience"
      class="flex flex-col gap-4 py-4 first:pt-0 last:pb-0"
    >
      <div class="flex flex-col gap-2">
        <span class="text-neutral-1 text-sm font-bold">COMPANY</span>
        <span class="text-neutral-2 font-mono">{{ exp?.company }} </span>
      </div>
      <div class="flex flex-col gap-2">
        <span class="text-neutral-1 text-sm font-bold">JOB TITLE</span>
        <span class="text-neutral-2 font-mono">{{ exp?.job }} </span>
      </div>
      <div class="flex flex-col gap-2">
        <span class="text-neutral-1 text-sm font-bold">DESCRIPTION</span>
        <span class="text-neutral-2 font-mono">{{ exp?.description }} </span>
      </div>
    </div>
  </div>
  <div
    id="redirect-profile-edit"
    class="mt-4 flex cursor-pointer items-center gap-2 self-end"
    [routerLink]="['/home/profile/profile-edit']"
    [queryParams]="{ stepToEdit: 'EXPERIENCE' }"
  >
    <span class="mb-1 font-mono font-bold">Edit</span>
    <i class="bi bi-pencil text-secondary"></i>
  </div>
</div>
