<div class="border-neutral-6 flex flex-col rounded-sm border-4 p-7">
  <div class="flex justify-between">
    <div class="flex items-center">
      <img
        src="https://i.pravatar.cc/300"
        alt="avatar example"
        class="h-12 w-12 rounded-full object-cover"
      />
      <span class="text-neutral-1 ml-4 font-mono text-base font-bold"
        >Name User</span
      >
    </div>
    <i class="bi bi-three-dots-vertical text-6xl" aria-hidden="true"></i>
  </div>
  <p class="text-neutral-2 pt-5 pb-3 font-mono text-sm">
    Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Nam condimentum
    tempus diam, ultricies sollicitudin erat facilisis eget. Vestibulum rhoncus
    dui vel eros laoreet consectetur. Vivamus eget elementum ligula, vitae
    pharetra quam. Nullam at ligula sed metu. Lorem ipsum dolor sit amet, consec
    tetur adipiscing elit. Nam condimentum tempus diam, ultricies sollicitudin
    erat facilisis eget. Vestibulum rhoncus dui vel eros laoreet consectetur.
    Vivamus eget elementum ligula, vitae pharetra quam. Nullam at ligula sed
    metu
  </p>
  <div class="">
    <img
      class="object-scale-down md:max-h-[441px]"
      src="../../../assets/img/img-home-company.svg"
      alt="activity example"
    />
  </div>
</div>
