<div class="flex flex-col md:flex-row pt-8 min-h-screen">
  <div class="w-full sm:h-[500px] relative px-8 xl:pl-[336px]">
    <form [formGroup]="expertiseForm">
      <wagademy-form-field
        [control]="expertiseForm.controls['areasOfExpertise']"
        label="You need to fill up to 10 words to describe your areas of expertise"
      >
        <wagademy-input
          placeholder="Expertise Example"
          type="text"
          formControlName="areasOfExpertise"
          (keydown.enter)="addExpertise()"
          [disabledInput]="isMaxValue"
        >
        </wagademy-input>
      </wagademy-form-field>
    </form>
    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
      @for (expertise of expertises; track expertise;let i = $index) {
      <li
        class="bg-neutral text-neutral-950 p-1 rounded-md flex justify-between"
      >
        <p>{{ expertise }}</p>
        <button (click)="removeExpertise(i)">
          <img src="./assets/icons/icon-close.svg" alt="close button icon" />
        </button>
      </li>
      }
    </ul>
    <div class="sm:absolute sm:bottom-0 sm:right-9">
      <div
        class="flex flex-col sm:flex-row sm:justify-end items-center mt-14 mb-8 gap-4"
      >
        <button
          class="btn btn-primary btn-outline text-base-100 text-xl w-48"
          (click)="previousStep.emit()"
        >
          Previous
        </button>
        <button
          class="btn btn-primary text-base-100 text-xl w-48"
          (click)="nextStep.emit()"
          [disabled]="expertises.length < 1"
        >
          Next
        </button>
      </div>
    </div>
  </div>
  <div class="w-1/2 justify-center max-h-[375px] hidden md:flex">
    <ul class="steps steps-vertical">
      <li class="step step-primary text-neutral-950">Profile</li>
      <li class="step step-primary text-neutral-950">Education</li>
      <li class="step step-primary text-neutral-950">Area of expertise</li>
      <li class="step">Professional experience</li>
      <li class="step">Skills and competences</li>
    </ul>
  </div>
</div>
