<div>
  <wagademy-navbar-landing></wagademy-navbar-landing>
  <section class="relative h-[60vh]">
    <img
      src="../../assets/img/landing-background.webp"
      alt="landing background"
      class="h-full w-full object-cover"
    />
    <h2
      class="text-neutral-4 absolute bottom-1/4 left-1/2 w-3/4 -translate-x-1/2 text-start text-xl font-bold tracking-wider md:text-3xl lg:w-[640px]"
    >
      Have a unique curriculum through Lens protocol, and share the same
      information among other communication channels
    </h2>
  </section>
  <section class="container mx-auto mb-16 mt-16 px-6 sm:mb-36">
    <div class="grid grid-cols-1 gap-x-9 md:grid-cols-2">
      <div class="py-6 px-5">
        <div
          class="pb-4"
          *ngFor="let publication of publications | slice : 0 : display"
        >
          <wagademy-post-card [publication]="publication"> </wagademy-post-card>
        </div>
        <div class="flex justify-end">
          <button
            *ngIf="display < 50"
            class="text-secondary cursor-pointer text-xl font-semibold"
            (click)="display = display + 47; getPublications()"
          >
            Show More
          </button>
        </div>
      </div>
      <div>
        <small class="text-neutral-2 block pb-4 text-center">
          © 2023 Wagademy - All Rights reserved!
        </small>
      </div>
    </div>
  </section>
  <wagademy-footer></wagademy-footer>
</div>
<wagademy-details-modal
  *ngIf="detailsModalType"
  [type]="detailsModalType"
  [data]="detailsModalData"
  (modalClosed)="detailsModalType = null"
></wagademy-details-modal>
