<div
  class="sm:w-[304px] w-[230px] justify-center h-[280px] bg-neutral hover:shadow-lg mx-auto flex relative rounded-lg"
>
  <div class="font-mono sm:w-[304px] w-[230px]">
    <img
      *ngIf="img"
      [src]="img"
      class="object-cover h-[80px] w-[80px] pl-4 pt-4 rounded"
      alt="image"
    />
    <img
      *ngIf="!img"
      [src]="'./assets/img/images/img-card-fallback.webp'"
      class="object-cover h-[80px] w-[80px] pl-4 pt-4 rounded"
      alt="fallback image"
    />
    <div class="absolute top-0 right-0 p-2">
      <div *ngIf="status">
        <p class="bg-secondary text-base-100 rounded-full py-1 px-4">
          {{ status }}
        </p>
      </div>
    </div>
    <div class="px-4 bottom-4 bg-neutral w-full">
      <h3
        class="text-base-100 font-mono font-bold pb-2 pt-4 text-ellipsis overflow-hidden whitespace-nowrap"
      >
        {{ name }}
      </h3>
      <div class="pb-4">
        <p
          class="text-base-100 font-mono h-[75px] overflow-hidden line-clamp-3"
        >
          {{ description }}
        </p>
      </div>
    </div>
    <div class="absolute bottom-0 w-full p-4">
      <ng-content></ng-content>
    </div>
  </div>
</div>
