<wagademy-navbar-authenticated></wagademy-navbar-authenticated>
<div class="container mx-auto px-3 py-9">
  <div
    id="redirect-course"
    class="text-secondary mb-4 flex cursor-pointer items-center gap-2"
    [routerLink]="['/home/course-details']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div class="mx-auto flex max-w-[786px] flex-col gap-8">
    <wagademy-personal-info></wagademy-personal-info>
    <wagademy-about></wagademy-about>
    <wagademy-education></wagademy-education>
    <wagademy-professional-experience></wagademy-professional-experience>
    <wagademy-recommendations></wagademy-recommendations>
  </div>
</div>
