<lens-academy-navbar-authenticated></lens-academy-navbar-authenticated>
<div class="container mx-auto px-3 py-9">
  <div
    class="text-secondary mb-4 flex cursor-pointer items-center gap-2"
    [routerLink]="['/home/course-details']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div class="mx-auto flex max-w-[786px] flex-col gap-8">
    <lens-academy-personal-info></lens-academy-personal-info>
    <lens-academy-about></lens-academy-about>
    <lens-academy-education></lens-academy-education>
    <lens-academy-professional-experience></lens-academy-professional-experience>
    <lens-academy-recommendations></lens-academy-recommendations>
  </div>
</div>
