<div class="container px-5 md:px-10 mx-auto min-h-screen pt-8">
  @if(step === 1) {
  <wagademy-user-data
    [countries]="countries"
    [profilePhoto]="profilePhotoUrl"
    (imageUploaded)="onImageUploaded($event)"
    [userData]="userData"
    (nextStep)="step = 2"
  ></wagademy-user-data>
  }@if(step === 2) {
  <wagademy-education
    [educationForm]="educationForm"
    (nextStep)="step = 3"
    (previousStep)="step = 1"
  ></wagademy-education>
  } @if(step === 3) {
  <wagademy-expertise
    [expertises]="expertises"
    [expertiseForm]="expertiseForm"
    (nextStep)="step = 4"
    (previousStep)="step = 2"
  ></wagademy-expertise>
  } @if(step === 4) {
  <wagademy-professional-experience
    [professionalExperienceForm]="professionalExperienceForm"
    (nextStep)="step = 5"
    (previousStep)="step = 3"
  ></wagademy-professional-experience>
  } @if(step === 5) {
  <wagademy-skills
    [skills]="skills"
    [skillsForm]="skillsForm"
    (nextStep)="step = 6"
    (previousStep)="step = 4"
  ></wagademy-skills>
  } @if(step === 6) {
  <wagademy-user-profile-display
    [profilePhotoUrl]="profilePhotoUrl"
    [profilePhotoFile]="profilePhotoFile"
    [isUpdateMode]="isUpdateMode"
    [userData]="userData"
    [educationForm]="educationForm"
    [professionalExperienceForm]="professionalExperienceForm"
    [expertiseForm]="expertiseForm"
    [skillsForm]="skillsForm"
    [expertises]="expertises"
    [step]="step"
    [skills]="skills"
    (stepChange)="step = 6"
  >
  </wagademy-user-profile-display>
  }
</div>
