<div class="absolute inset-0 z-20 backdrop-blur-sm">
  <div class="my-10 flex min-h-screen items-center justify-center">
    <div class="w-11/12 shadow-lg sm:w-8/12 lg:w-5/12">
      <div class="flex justify-between bg-secondary px-6 py-5">
        <h5 class="font-bold tracking-widest text-primary">{{ title }}</h5>
        <img
          src=".././../../assets/img/x-icon.svg"
          alt="x icon"
          class="cursor-pointer"
          (click)="modalClosed.emit()"
        />
      </div>
      <div class="bg-neutral-4"><ng-content></ng-content></div>
    </div>
  </div>
</div>
