<wagademy-navbar-authenticated></wagademy-navbar-authenticated>
<section class="container mx-auto">
  <div class="ml-3">
    <div
      class="text-secondary my-10 flex cursor-pointer items-center gap-2"
      [routerLink]="['/home']"
    >
      <i class="bi-arrow-left text-xl"></i>
      <span class="font-mono font-bold">Back</span>
    </div>
    <h1 class="text-secondary mb-4 text-2xl font-bold">Recommendations</h1>
  </div>
  <ng-container *ngFor="let recommendation of recommendations; let i = index">
    <div
      class="bg-neutral-2/5 mx-3 mb-4 flex flex-col items-center justify-between rounded-lg py-8 md:flex-row md:px-4"
    >
      <div class="flex w-2/3 items-center">
        <img
          src="{{ profilePicture[i] }}"
          alt="avatar example"
          class="mr-4 h-10 w-10 rounded-full object-cover"
        />
        <p>
          {{ recommendation.bio ? recommendation.bio : 'Empty bio' }}
        </p>
      </div>
      <div
        class="mt-8 flex w-8/12 flex-col items-center gap-2 md:ml-10 md:mt-0 md:w-1/5 md:flex-row"
      >
        <wagademy-button-primary
          class="w-full"
          (click)="follow(recommendation.id)"
          >FOLLOW</wagademy-button-primary
        >
      </div>
    </div>
  </ng-container>
</section>
<wagademy-success-modal
  *ngIf="followModal"
  [message]="'Recommendation successfully followed'"
></wagademy-success-modal>
