<div class="absolute inset-0 z-20 backdrop-blur-sm">
  <div class="my-10 flex min-h-screen items-center justify-center">
    <div class="relative w-11/12 shadow-lg sm:w-8/12 lg:w-5/12">
      <div
        class="flex-col space-y-4 bg-secondary from-neutral-3 px-3 py-10 text-center text-neutral-3 sm:px-6"
      >
        <img
          class="absolute top-36 h-24 sm:h-36"
          src="../../assets/img/certificate-badge-icon.svg"
          alt="certificate badge"
        />
        <p class="text-sm">COURSE</p>
        <h1 class="text-4xl font-bold text-neutral-3 sm:text-5xl">
          Certificate
        </h1>
      </div>
      <div class="bg-neutral-3">
        <div class="space-y-4 px-3 pb-14 pt-20 sm:px-10 md:px-24">
          <h2 class="text-center text-2xl font-bold text-secondary sm:text-3xl">
            User Name
          </h2>
          <p class="font-mono">
            has successfully completed
            <strong>Name course, 09/05/2023</strong> Amet minim mollit non
            deserunt ullamco est sit aliqua dolor do amet sint Amet minim mollit
            non deserunt ullamco est sit aliqua.
          </p>
        </div>
        <div class="flex justify-between px-3 pb-16 sm:px-10 md:px-24">
          <div class="mb-5 w-2/4 border-b border-neutral-1 text-center">
            Name
          </div>
          <img src="../../assets/img/lens-logo.svg" alt="lens-logo" />
        </div>
      </div>
    </div>
  </div>
</div>
