<div class="container mx-auto min-h-screen px-3 sm:px-0">
  <div class="pb-4 pt-6 flex flex-wrap justify-between gap-6">
    <h2 class="font-sans font-medium text-4xl text-base-100">GPTs</h2>
    <button
      class="btn btn-primary btn-outline w-52"
      onclick="create_fine_turning_modal.showModal()"
    >
      Create fine tuning
    </button>
  </div>
  <div>
    <ul class="menu sm:menu-horizontal menu-md m-4 sm:m-0">
      <li class="sm:w-52 w-full">
        <a
          class="border-b border-base-300 text-base-300 rounded-none font-mono flex justify-center"
          [ngClass]="{
            'border-primary text-primary': gptType === 'FINETUNING'
          }"
          (click)="gptType = 'FINETUNING'"
          >Fine tuning</a
        >
      </li>
      <li class="sm:w-52 w-full">
        <a
          class="border-b border-base-300 text-base-300 rounded-none font-mono flex justify-center"
          [ngClass]="{
            'border-primary text-primary': gptType === 'TRAININGDATA'
          }"
          (click)="gptType = 'FINETUNING'"
          >Training data</a
        >
      </li>
    </ul>
  </div>
  <div class="flex flex-wrap gap-2 pb-4 pt-8">
    <button
      *ngFor="let filter of filters; let i = index"
      class="border border-base-200 hover:border-none font-mono rounded-full p-2 hover:bg-primary"
      [ngClass]="[
        filter.name === selectedFilter
          ? 'bg-primary text-base-100 border-none'
          : 'text-base-200 hover:text-base-100'
      ]"
      (click)="selectedFilter = filter.name"
    >
      {{ filter.name }}
    </button>
  </div>
  <div class="bg-neutral rounded-lg w-full">
    <div class="overflow-x-auto p-4">
      <table
        class="w-full text-left cursor-pointer table"
        aria-describedby="create-fine-turning"
      >
        <thead class="text-base-100 font-bold font-mono text-base">
          <tr>
            <th class="py-8 px-6" scope="col">Thumbnail</th>
            <th class="py-8 px-6" scope="col">Fine Tuning</th>
            <th class="py-8 px-6" scope="col">Status</th>
            <th class="py-8 px-6" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-dark-02 font-mono text-lg" *ngFor="let gpt of gpts">
            <td class="py-4 px-3">
              <div class="flex gap-8 pl-8">
                @if(gpt.image){
                <img class="w-12 h-12 rounded-2xl" [src]="gpt.image" />
                }@else(){
                <div class="w-12 h-12 rounded-2xl bg-base-300"></div>
                }
              </div>
            </td>
            <td class="py-4 px-6 md:px-0 md:pl-6 md:pr-40">
              <div class="pl-4">
                <p class="font-bold">{{ gpt.title }}</p>
                <p>{{ gpt.description }}</p>
              </div>
            </td>
            <td class="py-4 px-6">
              <p
                class="px-4 py-3 rounded-full w-32 text-center"
                [ngClass]="{
                  'bg-success text-success-content': gpt.status === 'Success',
                  'bg-warning text-warning-content':
                    gpt.status === 'Processing',
                  'bg-error text-error-content': gpt.status === 'Fail'
                }"
              >
                {{ gpt.status }}
              </p>
            </td>
            <td class="py-4 px-6">
              <i class="bi bi-trash3 text-base-200 cursor-pointer"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex justify-center lg:justify-end pt-6 pb-3">
    <wagademy-pagination
      [page]="page"
      [take]="take"
      [count]="count"
      (pageChange)="page = $event"
    ></wagademy-pagination>
  </div>
</div>
<dialog id="create_fine_turning_modal" class="modal">
  <div class="modal-box">
    <div class="flex justify-between items-center pb-14">
      <h2
        class="text-base-100 mx-auto font-sans md:text-4xl text-2xl font-medium"
      >
        Create Fine Tuning
      </h2>
      <i
        class="bi bi-x-lg text-base-100 cursor-pointer"
        onclick="create_fine_turning_modal.close()"
      ></i>
    </div>
    <form method="dialog">
      <div class="pb-6">
        <label class="font-mono text-sm text-base-100 pb-8">Thumbnail</label>
        <div
          [class]="
            isDragging
              ? 'p-10 border-2 border-dashed border-base-200 bg-secondary rounded-lg w-full h-44 flex items-center justify-center cursor-pointer text-primary'
              : 'p-10 border-2 border-dashed border-base-200 rounded-lg w-full h-44 flex items-center justify-center cursor-pointer text-primary'
          "
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave()"
          (drop)="onDrop($event)"
          (click)="myFile.click()"
        >
          <div class="flex-col flex items-center">
            <i class="bi bi-cloud-arrow-up text-[40px] text-primary"></i>
            <p class="text-center md:text-xl text-base">
              <span class="text-primary">Click to upload</span>
              <span class="text-base-100"> or drag and drop</span>
            </p>
            <input
              #myFile
              type="file"
              id="file"
              name="filename"
              accept=".jpg, .jpeg"
              multiple
              class="hidden"
              (change)="onFileChange($event)"
            />
            <p class="text-center text-base-200 md:text-sm text-xs mt-2">
              Maximum file size 50MB
            </p>
          </div>
        </div>
      </div>
      <div class="pb-6">
        <label class="font-mono text-sm text-base-100 pb-8">Title</label>
        <wagademy-input [placeholder]="'title example'"></wagademy-input>
      </div>
      <div class="pb-6">
        <label class="font-mono text-sm text-base-100 pb-8">Description</label>
        <textarea
          placeholder="Type your description here..."
          class="w-full h-[168px] bg-neutral p-4 outline-none"
        ></textarea>
      </div>
      <div class="md:flex gap-4">
        <button
          onclick="create_fine_turning_modal.close()"
          class="btn btn-primary btn-outline w-full md:w-64"
        >
          Cancel
        </button>
        <div class="pt-4 md:pt-0">
          <button
            class="btn btn-primary w-full md:w-64"
            (click)="createFineTurning()"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</dialog>
