<lens-academy-base-modal
  title="PARTICIPANTS SQUAD 1"
  (modalClosed)="modalClosed.emit()"
>
  <div class="p-6">
    <div class="bg-neutral-1 relative">
      <img
        src="../../../assets/img/united-hands.jpg"
        alt="united hands"
        class="h-52 w-full object-cover opacity-40"
      />
      <h3
        class="text-neutral-4 absolute top-1/2 w-full -translate-y-1/2 text-center text-2xl font-bold"
      >
        Squad 1
      </h3>
    </div>
    <div class="mt-4 grid gap-6 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
      <div class="flex flex-col items-center gap-2">
        <img
          src="https://i.pravatar.cc/300"
          alt="avatar example"
          class="h-24 w-24 rounded-full object-cover"
        />
        <span class="font-mono font-bold">You</span>
      </div>
      <div class="flex flex-col items-center gap-2">
        <img
          src="https://i.pravatar.cc/300"
          alt="avatar example"
          class="h-24 w-24 rounded-full object-cover"
        />
        <span class="font-mono font-bold">Name</span>
      </div>
      <div class="flex flex-col items-center gap-2">
        <img
          src="https://i.pravatar.cc/300"
          alt="avatar example"
          class="h-24 w-24 rounded-full object-cover"
        />
        <span class="font-mono font-bold">Name</span>
      </div>
      <div class="flex flex-col items-center gap-2">
        <img
          src="https://i.pravatar.cc/300"
          alt="avatar example"
          class="h-24 w-24 rounded-full object-cover"
        />
        <span class="font-mono font-bold">Name</span>
      </div>
    </div>
  </div>
</lens-academy-base-modal>
