<div class="group py-4 container px-5 md:px-10 mx-auto">
  <div class="flex flex-col lg:flex-row pt-16">
    <div class="w-full">
      <img
        class="mx-auto block md:hidden"
        ngSrc="./assets/img/images/img-logo-mobile.svg"
        width="57"
        height="56"
        alt="logo mobile"
      />
      <h1 class="text-base-100 font-sans text-2xl font-medium md:text-5xl">
        Welcome to Wagademy
      </h1>
      <p
        class="lg:text-base-200 text-base-100 pb-8 pt-6 font-sans text-base font-medium md:text-2xl"
      >
        Where educational innovation is the priority. Explore unique learning
        experiences facilitated by cutting-edge technology, fostering
        connections between companies and students.
      </p>
    </div>
    <div class="mx-auto lg:ml-10">
      <iframe
        class="w-full w-[280px] h-[200px] md:w-[500px] md:h-[280px]"
        src="https://www.youtube.com/embed/QERE8VJ7kAs"
        title="Wagademy Demo Video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="flex gap-8 pb-8 pt-8 lg:pt-0 lg:pb-28">
    <div
      [routerLink]="['/student']"
      class="bg-neutral hover:bg-shadow text-base-100 h-28 w-28 cursor-pointer rounded-lg px-2 hover:shadow-lg"
    >
      <p
        class="pt-4 text-center text-base-100 font-mono text-sm animate-slideDown"
      >
        I’m student
      </p>
    </div>
    <div class="bg-primary h-28 w-28 rounded-lg px-2">
      <p class="text-base-100 pt-9 text-center font-mono text-sm">
        I’m company
      </p>
      <div class="flex flex-col items-center relative">
        <img
          ngSrc="./assets/icons/icon-scroll-pointer.svg"
          alt="scroll pointer"
          width="32"
          height="40"
        />
        <i
          class="bi bi-chevron-compact-down absolute text-[#FFFFFF] -bottom-1 animate-wiggle text-sm"
        ></i>
      </div>
    </div>
  </div>
</div>
<div class="py-8 bg-base-100">
  <p class="text-primary text-center font-sans text-sm">
    CONNECTING THE FUTURE
  </p>
  <p class="text-neutral px-5 pt-2 text-center font-sans text-4xl font-medium">
    Unlock Opportunities and Growth
  </p>
  <p
    class="text-neutral mx-auto w-full px-5 pt-4 text-center font-mono md:w-1/2"
  >
    Our innovative platform connects companies and students, offering diverse
    courses and digital certificates. Companies can advertise training programs,
    gauge interest, and issue certificates as NFTs. For students, we provide
    access to quality courses and recognized certificates, aiding in their
    professional development.
  </p>
</div>
<div class="container px-5 md:px-10 mx-auto">
  <div class="flex flex-col justify-between py-4 md:flex-row">
    <div class="w-full pt-14 md:w-1/2 xl:pt-[140px]">
      <h2 class="text-base-100 pb-4 font-sans text-4xl font-medium">
        Simplify the Hiring Process
      </h2>
      <p class="text-base-100 pb-10 font-mono">
        Post your job vacancies on the platform and reach a diverse pool of
        talent
      </p>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Easily manage the flow of candidates
        </p>
      </div>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Assess interest and find the ideal candidate for your team
        </p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Reduce the risk of fraudulent CVs or qualifications
        </p>
      </div>
    </div>
    <div>
      <img
        ngSrc="./assets/img/company/img-company-block1.webp"
        alt="simplify the hiring process"
        width="640"
        height="472"
      />
    </div>
  </div>
  <div class="flex flex-col-reverse justify-between py-4 md:flex-row">
    <div>
      <img
        ngSrc="./assets/img/company/img-company-block2.webp"
        alt="simplify interviews"
        width="640"
        height="472"
      />
    </div>
    <div class="w-full pt-14 md:w-1/2 xl:pt-[140px]">
      <h2 class="text-base-100 pb-4 font-sans text-4xl font-medium">
        Simplify interviews
      </h2>
      <p class="text-base-100 pb-10 font-mono">
        Speed up the recruitment process with interviews conducted by artificial
        intelligence
      </p>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Save time and resources with initial screening of candidates
        </p>
      </div>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Identify talent based on objective and behavioral criteria
        </p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">Efficient, data-driven hiring</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between py-4 md:flex-row">
    <div class="w-full pt-14 md:w-1/2 xl:pt-[140px]">
      <h2 class="text-base-100 pb-4 font-sans text-4xl font-medium">
        Train AI Chatbots to Showcase Your Technology
      </h2>
      <p class="text-base-100 pb-10 font-mono">
        Empower your company with the ability to train language models capable
        of answering questions about your technologies
      </p>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Invite users to interact with these AI-powered chatbots
        </p>
      </div>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Provide instant access to information and assistance
        </p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Improve customer engagement and support
        </p>
      </div>
    </div>
    <div>
      <img
        ngSrc="./assets/img/company/img-company-block3.webp"
        alt="train AI chatbots to showcase your technology"
        width="640"
        height="472"
      />
    </div>
  </div>
  <div class="flex flex-col-reverse justify-between py-4 md:flex-row">
    <div>
      <img
        ngSrc="./assets/img/company/img-company-block4.webp"
        alt="showcase your courses and expand your reach"
        width="640"
        height="472"
      />
    </div>
    <div class="w-full pt-14 md:w-1/2 xl:pt-[140px]">
      <h2 class="text-base-100 pb-4 font-sans text-4xl font-medium">
        Showcase Your Courses and Expand Your Reach
      </h2>
      <p class="text-base-100 pb-10 font-mono">
        With our platform, your company can present courses effectively,
        reaching a wide audience of eager students
      </p>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Gain valuable insights by measuring interest in your courses
        </p>
      </div>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">Easily manage issued certificates</p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Turn certificates into unique NFTs
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between py-4 md:flex-row">
    <div class="w-full pt-14 md:w-1/2 xl:pt-[140px]">
      <h2 class="text-base-100 pb-4 font-sans text-4xl font-medium">
        NFT Certificates: Authenticity and Innovation
      </h2>
      <p class="text-base-100 pb-10 font-mono">
        Modernize your certification process by issuing certificates as NFTs on
        our platform
      </p>
      <div class="flex gap-2 pb-4">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Guarantee the authenticity and security of your certificates
        </p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-check-circle text-primary"></i>
        <p class="text-base-100 font-mono">
          Offer your students an innovative experience
        </p>
      </div>
    </div>
    <div>
      <img
        ngSrc="./assets/img/company/img-company-block5.webp"
        alt="NFT certificates"
        width="640"
        height="472"
      />
    </div>
  </div>
</div>
