<div class="container mx-auto min-h-screen px-3 sm:px-0">
  <div class="pb-7 pt-6 flex flex-wrap justify-between gap-6">
    <h2 class="font-sans font-medium text-4xl text-base-100">Hiring</h2>
    <div class="gap-8 flex flex-wrap">
      <label class="input flex items-center gap-2 bg-transparent text-base-200">
        <i class="bi bi-search"></i>
        <input
          type="text"
          [(ngModel)]="searchJob"
          class="grow text-base-200 lg:w-[408px] w-full"
          placeholder="Search"
        />
      </label>
      <button
        class="btn btn-primary btn-outline w-[200px]"
        (click)="verifyUser()"
      >
        @if (isVerifying) {
        <span class="loading loading-dots"></span>
        } @else { Create job }
      </button>
    </div>
  </div>
  <div class="flex flex-wrap gap-2 pb-2">
    @for (filter of filters; track $index) {
    <button
      class="border border-base-200 hover:border-none font-mono rounded-full p-2 hover:bg-secondary"
      [ngClass]="[
        filter.symbol === selectedFilter
          ? 'bg-secondary text-base-100 border-none'
          : 'text-base-200 hover:text-base-100'
      ]"
      (click)="selectedFilter = filter.symbol; getJobs()"
    >
      {{ filter.name }}
    </button>
    }
  </div>
  @if (!jobs.length) {
  <div
    class="flex w-full items-center font-bold text-2xl text-base-100 justify-center mt-[30vh]"
  >
    <p>There are no content available</p>
  </div>
  } @if (jobs.length) { @if(!isLoading){
  <div class="pb-6 pt-2">
    <div>
      <div
        class="max-[657px]:justify-center flex-wrap justify-start flex gap-8 pt-6 xl:pt-0"
      >
        @for (job of jobs; track $index) {
        <wagademy-card-job
          [name]="job.title"
          [description]="job.description"
          [applications]="job._count.jobApplications"
          [view]="job.views"
          [isOpen]="selectedCardIndex === $index"
          [jobStatus]="job.jobStatus"
          (click)="onCardClick($index)"
          (updateJob)="updateJobModal(job)"
          (updateJobStatus)="updateJobStatus(job.id, $index)"
          (removeJob)="openRemoveJobModal()"
        ></wagademy-card-job>
        }
      </div>
    </div>
  </div>
  }

  <div class="flex justify-center lg:justify-end pt-6 pb-3">
    <wagademy-pagination
      [page]="page"
      [take]="take"
      [count]="count"
      (pageChange)="page = $event; getJobs()"
    ></wagademy-pagination>
  </div>
  }
</div>
<dialog id="create_job" class="modal modal-middle">
  <div class="modal-box w-3/4 container">
    <form [formGroup]="form" method="dialog">
      <div class="flex justify-center items-baseline pb-14">
        <h2 class="font-sans font-medium sm:text-4xl text-2xl text-base-100">
          Create Job
        </h2>
        <button class="absolute right-2 top-2 text-base-100 sm:pt-6 pt-5 pr-4">
          ✕
        </button>
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="form.controls.title"
          label="Job title"
          [isInputMandatory]="true"
        >
          <wagademy-input
            placeholder="Job title"
            type="text"
            formControlName="title"
          >
          </wagademy-input>
        </wagademy-form-field>
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="form.controls.description"
          label="Description"
          [isInputMandatory]="true"
        >
          <textarea
            placeholder="Description"
            class="textarea textarea-bordered bg-neutral textarea-lg w-full"
            formControlName="description"
          ></textarea>
        </wagademy-form-field>
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="form.controls.employmentClassification"
          label="Employment Classification"
          [isInputMandatory]="true"
        >
          <wagademy-select
            [items]="employmentClassification"
            formControlName="employmentClassification"
          >
          </wagademy-select>
        </wagademy-form-field>
      </div>
      <div class="pb-14">
        <wagademy-form-field
          [control]="form.controls.allocation"
          label="Allocation"
          [isInputMandatory]="true"
        >
          <wagademy-select [items]="allocation" formControlName="allocation">
          </wagademy-select>
        </wagademy-form-field>
      </div>
      <div class="sm:flex justify-center gap-4">
        <button
          class="btn btn-outline btn-primary sm:w-[210px] w-full"
          [disabled]="
            isLoading ||
            form.invalid ||
            creatingStatus.isCreating ||
            creatingStatus.isPublishing
          "
          (click)="form.controls.jobStatus.setValue('UNPUBLISHED'); createJob()"
        >
          @if (creatingStatus.isCreating) {
          <span class="loading loading-dots"></span>
          } @else { Create }
        </button>
        <div class="pt-4 sm:pt-0">
          <button
            class="btn btn-primary sm:w-[210px] w-full"
            type="button"
            [disabled]="
              isLoading ||
              form.invalid ||
              creatingStatus.isCreating ||
              creatingStatus.isPublishing
            "
            (click)="form.controls.jobStatus.setValue('PUBLISHED'); createJob()"
          >
            @if (creatingStatus.isPublishing) {
            <span class="loading loading-dots"></span>
            } @else { Create And Publish}
          </button>
        </div>
      </div>
    </form>
  </div>
</dialog>
<dialog id="update_job" class="modal modal-middle">
  <div class="modal-box w-3/4 container">
    <form [formGroup]="form" method="dialog">
      <div class="flex justify-center items-baseline pb-14">
        <h2 class="font-sans font-medium sm:text-4xl text-2xl text-base-100">
          Update Job
        </h2>
        <button class="absolute right-2 top-2 text-base-100 sm:pt-6 pt-5 pr-4">
          ✕
        </button>
      </div>
      <div class="pb-6">
        <div class="flex gap-2 items-center">
          <input
            type="checkbox"
            class="toggle toggle-primary"
            (click)="toggleStatus()"
            [checked]="status === 'PUBLISHED'"
          />
          <p class="text-base-100 font-mono text-sm font-bold">{{ status }}</p>
        </div>
      </div>
      <div class="pb-6">
        <wagademy-form-field [control]="form.controls.title" label="Job title">
          <wagademy-input
            placeholder="Job title"
            type="text"
            formControlName="title"
          >
          </wagademy-input>
        </wagademy-form-field>
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="form.controls.description"
          label="Description"
        >
          <textarea
            placeholder="Description"
            class="textarea textarea-bordered bg-neutral h-[168px] text-base-100 w-full"
            [value]="form.controls.description.value"
            formControlName="description"
          ></textarea>
        </wagademy-form-field>
      </div>
      <div class="pb-6">
        <wagademy-form-field
          [control]="form.controls.employmentClassification"
          label="Employment Classification"
        >
          <wagademy-select
            [items]="employmentClassification"
            formControlName="employmentClassification"
          >
          </wagademy-select>
        </wagademy-form-field>
      </div>
      <div class="pb-14">
        <wagademy-form-field
          [control]="form.controls.allocation"
          label="Allocation"
        >
          <wagademy-select [items]="allocation" formControlName="allocation">
          </wagademy-select>
        </wagademy-form-field>
      </div>
      <div class="sm:flex justify-center gap-4">
        <button
          class="btn btn-outline btn-primary sm:w-[210px] w-full"
          [disabled]="isLoading || isUpdating"
        >
          Cancel
        </button>
        <div class="pt-4 sm:pt-0">
          <button
            class="btn btn-primary sm:w-[210px] w-full"
            type="button"
            [disabled]="isLoading || form.invalid || !form.dirty || isUpdating"
            (click)="updateJob()"
          >
            @if (isUpdating) {
            <span class="loading loading-dots"></span>
            } @else { Update }
          </button>
        </div>
      </div>
    </form>
  </div>
</dialog>
@if (incompleteProfile) {
<wagademy-modal
  title="Incomplete profile "
  actionButtonLabel="Complete now"
  message="You need to complete your profile to create and publish this position. Would you like to complete it now?"
  (actionButtonClick)="completeProfile()"
  [isLoading]="isRedirecting"
>
</wagademy-modal>
}@else {
<wagademy-modal
  title="Are you sure you want to remove this job?"
  actionButtonLabel="Remove"
  message="This action cannot be reversed."
  (actionButtonClick)="deleteJob()"
  [typeModal]="'cancel'"
>
</wagademy-modal>
}
