<div class="shadow-md">
  <div
    class="flex flex-col items-start gap-4 px-5 py-3 md:container md:mx-auto md:flex-row md:items-center md:justify-between"
  >
    <img src="./assets/img/lens-logo.svg" alt="lens logo" />
    <div class="flex flex-col gap-3 md:flex-row md:gap-8">
      <a
        [routerLink]="['/home-company']"
        [routerLinkActive]="['active']"
        #homeCompany="routerLinkActive"
        [ngClass]="{
          'text-neutral-2 hover:text-secondary': !homeCompany.isActive,
          'text-secondary font-bold': homeCompany.isActive
        }"
        >Home</a
      >
      <a
        [routerLink]="['/professionals']"
        [routerLinkActive]="['active']"
        #professionals="routerLinkActive"
        [ngClass]="{
          'text-neutral-2 hover:text-secondary hover:font-bold':
            !professionals.isActive,
          'text-secondary font-bold': professionals.isActive
        }"
        >Professionals</a
      >
      <a
        [routerLink]="['/squads']"
        [routerLinkActive]="['active']"
        #squads="routerLinkActive"
        [ngClass]="{
          'text-neutral-2 hover:text-secondary hover:font-bold':
            !squads.isActive,
          'text-secondary font-bold': squads.isActive
        }"
        >Squads</a
      >
      <a
        [routerLink]="['/hiring']"
        [routerLinkActive]="['active']"
        #hiring="routerLinkActive"
        [ngClass]="{
          'text-neutral-2 hover:text-secondary hover:font-bold':
            !hiring.isActive,
          'text-secondary font-bold': hiring.isActive
        }"
        >Hiring</a
      >
    </div>
    <div class="text-neutral-2 flex items-center gap-6">
      <wagademy-dropdown-language></wagademy-dropdown-language>
      <wagademy-dropdown-profile-company></wagademy-dropdown-profile-company>
    </div>
  </div>
</div>
