<div class="flex flex-col gap-8 sm:flex-row">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-28 w-28 rounded-full object-cover"
  />
  <div class="grid grow grid-cols-1 items-end gap-2 sm:grid-cols-2">
    <h3 class="text-secondary text-2xl font-bold">{{ title }}</h3>
    <div class="flex items-center gap-2">
      <i class="bi bi-balloon text-secondary"></i>
      <span class="text-neutral-2 font-mono">{{ date }}</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-envelope text-secondary"></i>
      <span class="text-neutral-2 font-mono">{{ email }}</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-globe-americas text-secondary"></i>
      <span class="text-neutral-2 font-mono">{{ country }}</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-telephone text-secondary"></i>
      <span class="text-neutral-2 font-mono">{{ phone }}</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-geo-alt text-secondary"></i>
      <span class="text-neutral-2 font-mono">{{ city }}</span>
    </div>
  </div>
</div>
