<div class="flex flex-col gap-8 sm:flex-row">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-28 w-28 rounded-full object-cover"
  />
  <div class="grid grow grid-cols-1 items-end gap-2 sm:grid-cols-2">
    <h3 class="text-2xl font-bold text-secondary">Name example</h3>
    <div class="flex items-center gap-2">
      <i class="bi bi-balloon text-secondary"></i>
      <span class="font-mono text-neutral-2">09/06/2000</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-envelope text-secondary"></i>
      <span class="font-mono text-neutral-2">email@email.com</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-globe-americas text-secondary"></i>
      <span class="font-mono text-neutral-2">Brazil</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-telephone text-secondary"></i>
      <span class="font-mono text-neutral-2">+55 11 912345-6789</span>
    </div>
    <div class="flex items-center gap-2">
      <i class="bi bi-geo-alt text-secondary"></i>
      <span class="font-mono text-neutral-2">São Paulo</span>
    </div>
  </div>
</div>
