<div class="shadow-md">
  <div
    class="flex flex-col items-center gap-4 py-3 sm:container sm:mx-auto sm:flex-row sm:justify-between sm:px-5"
  >
    <button [routerLink]="['/']">
      <img src="../../assets/img/lens-logo.svg" alt="lens logo" />
    </button>
    <div class="flex gap-x-8">
      <button
        id="home"
        class="text-secondary border-b-2 text-lg font-bold"
        [routerLink]="['/']"
      >
        Home
      </button>
      <wagademy-button-secondary
        class="w-52"
        id="connect-wallet"
        [routerLink]="['/account-type']"
        >CONNECT WALLET</wagademy-button-secondary
      >
    </div>
  </div>
</div>
<div>
  <div class="text-neutral-1 container mx-auto grid grid-cols-1 md:grid-cols-2">
    <div class="md:24 text-neutral-1 px-6 pt-24 lg:pt-48">
      <p class="text-xs md:text-lg">An Innovative</p>
      <h1 class="pb-4 text-xl font-bold md:pb-4 md:text-5xl lg:pb-10">
        Social Network
      </h1>
      <p class="text-base md:text-lg">
        An innovative social network based on unique digital identities has the
        potential to revolutionize the way we think about social media and
        personal data. By providing users with greater control over their
        information and identities, and by increasing trust and transparency on
        the network, this innovation could help to create a more equitable and
        secure digital world.
      </p>
    </div>
    <img
      class="-mr-6 text-center md:pt-48 lg:pt-0"
      src="../../assets/img/img-banner-learning.webp"
      alt="learning"
    />
  </div>
  <div class="bg-secondary text-neutral-4">
    <div class="container mx-auto grid grid-cols-1 px-6 md:grid-cols-2">
      <div class="text-center">
        <h2
          class="pb-4 pt-14 font-mono text-3xl font-bold md:pt-8 xl:pt-20 2xl:pt-32"
        >
          Unique Profile
        </h2>
        <p class="text-start text-lg md:pb-8 lg:pb-0">
          Unlike traditional social media platforms, which typically require
          users to create separate profiles for each platform they use, a
          blockchain-based social network allows users to create a single
          digital identity that can be easily accessed and shared across
          multiple networks. This is possible because the user's profile
          information is stored on a blockchain, which is a distributed ledger
          that is maintained by a network of computers around the world.
        </p>
      </div>
      <img
        class="text-center md:pt-24 lg:pt-0"
        width="2500px"
        src="../../assets/img/img-unique-profile.webp"
        alt="unique profile"
      />
    </div>
  </div>
  <div
    class="text-neutral-1 container mx-auto grid grid-cols-1 px-6 md:grid-cols-2"
  >
    <img
      class="text-center md:pt-24 lg:pt-0"
      src="../../assets/img/img-apply-jobs.webp"
      alt="apply to jobs"
    />
    <div class="pb-14 pt-14 text-center md:pb-0 lg:pt-0 xl:pt-10">
      <h2
        class="pb-4 pt-4 font-mono text-3xl font-bold md:pt-8 xl:pt-10 2xl:pt-32"
      >
        Apply to Jobs
      </h2>
      <p class="text-start text-lg md:pb-8 lg:pb-0">
        One of the key benefits of using a blockchain-based social network for
        job applications is that users can create a verified and tamper-proof
        record of their work history and education. This eliminates the need for
        third-party verification and reduces the risk of fraudulent resumes or
        qualifications. Instead, potential employers can verify a candidate's
        information directly from the blockchain, providing a higher level of
        trust and transparency in the hiring process.
      </p>
    </div>
  </div>
  <div class="bg-secondary text-neutral-4">
    <div class="container mx-auto grid grid-cols-1 px-6 md:grid-cols-2">
      <div class="text-center">
        <h2
          class="pb-4 pt-14 font-mono text-3xl font-bold md:pt-8 xl:pt-20 2xl:pt-32"
        >
          Join Working Groups
        </h2>
        <p class="text-start text-lg md:pb-8 lg:pb-0">
          Working groups on blockchain-based social networks can offer unique
          collaboration features that make it easier for members to work
          together on projects. For example, some networks offer decentralized
          project management tools that allow members to track tasks,
          milestones, and deadlines in real-time. This can be particularly
          valuable for remote teams or freelancers who need to collaborate
          effectively across different time zones and locations.
        </p>
      </div>
      <img
        class="text-center md:pt-24 lg:pt-0"
        src="../../assets/img/img-join-working.webp"
        alt="Join Working Groups"
      />
    </div>
  </div>
  <div
    class="text-neutral-1 container mx-auto grid grid-cols-1 px-6 md:grid-cols-2"
  >
    <img
      class="text-center md:pt-24 lg:pt-0"
      src="../../assets/img/img-follow-relevant.webp"
      alt="follow relevant people"
    />
    <div class="pb-14 pt-14 text-center md:pb-0 lg:pt-0 xl:pt-10">
      <h2
        class="pb-4 pt-4 font-mono text-3xl font-bold md:pt-8 xl:pt-10 2xl:pt-32"
      >
        Follow Relevant People
      </h2>
      <p class="text-start text-lg md:pb-8 lg:pb-0">
        One of the key benefits of following people in this social network is
        the ability to create a personalized feed of content that is relevant to
        your interests and goals. Users can follow other professionals,
        influences, and thought leaders in their field, and receive updates on
        their activities, publications, and contributions. This can help users
        stay informed about the latest trends and developments in their field,
        and identify new opportunities for collaboration and learning.
      </p>
    </div>
  </div>
  <div class="bg-secondary text-neutral-4">
    <div class="container mx-auto grid grid-cols-1 px-6 md:grid-cols-2">
      <div class="text-center">
        <h2
          class="pb-4 pt-14 font-mono text-3xl font-bold md:pt-8 xl:pt-20 2xl:pt-32"
        >
          Get NFT Certificates
        </h2>
        <p class="text-start text-lg md:pb-8 lg:pb-0">
          This innovative solution provides a unique opportunity for individuals
          to obtain course certificates that are secure, transparent, and
          verifiable. This is possible because the certificates are stored on a
          blockchain, which is a decentralized and tamper-proof ledger that can
          be accessed by anyone with the necessary permissions.
        </p>
      </div>
      <img
        class="text-center md:pt-24 lg:pt-0"
        src="../../assets/img/img-get-nft.webp"
        alt="get NFT certificates"
      />
    </div>
  </div>
</div>
<footer class="bg-neutral-3">
  <div class="container mx-auto px-6">
    <div class="flex items-center gap-6 py-12 sm:gap-16">
      <img src="../../assets/img/lens-logo.svg" alt="lens logo" class="w-24" />
      <div class="flex flex-col gap-2 font-mono">
        <span class="text-neutral-1 font-bold"> Contact </span>
        <span class="text-neutral-1"> contact@lens.com </span>
        <div class="text-secondary flex gap-3 text-xl">
          <i class="bi bi-twitter cursor-pointer"></i>
          <i class="bi bi-instagram cursor-pointer"></i>
          <i class="bi bi-discord cursor-pointer"></i>
        </div>
      </div>
    </div>
    <small class="text-neutral-2 block pb-4 text-center">
      © 2023 Lens - All Rights reserved!
    </small>
  </div>
</footer>
