<wagademy-navbar-authenticated></wagademy-navbar-authenticated>
<div class="container mx-auto my-9 px-3">
  <div class="flex items-center justify-between">
    <div
      id="redirect-home"
      class="text-secondary flex cursor-pointer items-center gap-2"
      [routerLink]="['/home']"
    >
      <i class="bi-arrow-left text-xl"></i>
      <span class="font-mono font-bold">Back</span>
    </div>
    <img
      *ngIf="!completed"
      src="../../assets/img/alert-icon.svg"
      alt="alert icon"
    />
  </div>
  <div class="mx-auto max-w-[786px]">
    <div class="divide-neutral-3 grid gap-8 divide-y-2 divide-solid">
      <wagademy-about class="pt-8" [about]="about"></wagademy-about>
      <wagademy-education
        class="pt-8"
        [education]="academicEducation"
      ></wagademy-education>
      <wagademy-professional-experience
        class="pt-8"
        [experience]="experience"
      ></wagademy-professional-experience>
      <wagademy-areas-of-expertise
        class="pt-8"
        [expertise]="expertise"
      ></wagademy-areas-of-expertise>
      <wagademy-areas-of-interest
        class="pt-8"
        [interest]="interest"
      ></wagademy-areas-of-interest>
      <wagademy-skills-and-competencies
        class="pt-8"
        [skillsAndCompetencies]="skillsAndCompetencies"
      ></wagademy-skills-and-competencies>
      <div class="flex justify-center pt-8">
        <wagademy-button-primary class="w-full sm:w-52"
          >SAVE</wagademy-button-primary
        >
      </div>
    </div>
  </div>
</div>
