<lens-academy-navbar-authenticated></lens-academy-navbar-authenticated>
<section class="container mx-auto mb-12 px-6">
  <div class="grid grid-cols-1 gap-x-9 md:grid-cols-2">
    <div>
      <h1 class="text-secondary py-14 font-sans text-5xl font-semibold">
        Home
      </h1>
      <div class="mx-auto mb-8 max-w-lg 2xl:max-w-xl">
        <lens-academy-widget>
          <div class="button pt-3">
            <button
              class="bg-secondary text-neutral-4 hover:bg-primary hover:text-neutral-1 rounded-lg px-4"
            >
              Post
            </button>
          </div>
        </lens-academy-widget>
      </div>
      <div class="bg-neutral-3">
        <div class="px-5 py-6">
          <div class="pb-4">
            <lens-academy-post-card> </lens-academy-post-card>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-12">
      <div class="pb-11">
        <lens-academy-input
          type="text"
          placeholder="Search"
        ></lens-academy-input>
      </div>
      <p class="text-neutral-1 pt-3 font-sans text-3xl font-semibold">
        Courses
      </p>
      <div class="bg-neutral-3">
        <div class="px-4 py-5">
          <div class="cursor-pointer pb-4">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/books-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Course Name
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="cursor-pointer pb-4">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/books-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Course Name
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="cursor-pointer pb-4">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/books-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Course Name
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="cursor-pointer">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/books-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Course Name
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="flex justify-end">
            <button
              class="text-secondary cursor-pointer pt-5 text-xl font-semibold"
            >
              Show More
            </button>
          </div>
        </div>
      </div>
      <p class="text-neutral-1 pt-8 font-sans text-3xl font-semibold">Jobs</p>
      <div class="bg-neutral-3">
        <div class="px-4 py-5">
          <div class="cursor-pointer pb-4">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/briefcase-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Job Title
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="cursor-pointer pb-4">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/briefcase-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Job Title
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="cursor-pointer pb-4">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/briefcase-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Job Title
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="cursor-pointer">
            <lens-academy-course-card
              id="redirect-course-details"
              [routerLink]="['/home/course-details']"
              [image]="'../../../assets/img/briefcase-icon.svg'"
            >
              <div class="title">
                <p class="text-secondary pb-3 font-sans text-xl font-semibold">
                  Job Title
                </p>
              </div>
            </lens-academy-course-card>
          </div>
          <div class="flex justify-end">
            <button
              class="text-secondary cursor-pointer pt-5 text-xl font-semibold"
            >
              Show More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
