<div class="container mx-auto min-h-screen px-3">
  <div class="pb-8 pt-6 flex justify-between flex-wrap gap-4">
    <h2 class="font-sans font-medium text-4xl text-base-100">Jobs</h2>
    <wagademy-input-search
      placeholder="Search"
      [value]="searchJob"
      (valueChange)="searchJob = $event; findManyJobs()"
    ></wagademy-input-search>
    <div class="flex flex-wrap gap-2">
      @for (filter of filters; track $index) {
      <button
        class="border border-base-200 hover:border-none font-mono rounded-full p-2 hover:bg-primary"
        [ngClass]="[
          filter.symbol === selectedFilter
            ? 'bg-primary text-base-100 border-none'
            : 'text-base-200 hover:text-base-100'
        ]"
        (click)="selectedFilter = filter.symbol; findManyJobs()"
      >
        {{ filter.name }}
      </button>
      }
    </div>
  </div>
  @if(isLoading){
  <wagademy-loading></wagademy-loading>
  } @if(!jobs.length){
  <div
    class="flex w-full items-center font-bold text-2xl text-base-100 justify-center mt-[30vh]"
  >
    <p>There are no content available</p>
  </div>
  } @if(!isLoading){
  <div>
    @if(jobs.length){
    <div>
      <div
        class="flex flex-wrap max-[767px]:justify-center justify-start gap-8 pt-6 xl:pt-0"
      >
        @for (job of jobs; track $index) {
        <wagademy-card
          [img]="job.company.companyProfile?.companyPhoto?.url"
          [name]="job.title"
          [description]="job.description"
          [details]="'more'"
          (click)="jobDetails(job.id)"
        ></wagademy-card>
        }
      </div>
    </div>
    }
    <div class="flex justify-center lg:justify-end pt-6 pb-3">
      <wagademy-pagination
        [page]="page"
        [take]="take"
        [count]="count"
        (pageChange)="page = $event; findManyJobs()"
      ></wagademy-pagination>
    </div>
  </div>
  }
</div>
