<div class="relative z-10 cursor-pointer">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-8 w-8 rounded-full object-cover"
    (click)="showDropdown = !showDropdown"
  />
  <div
    *ngIf="showDropdown"
    class="bg-neutral-4 absolute top-full flex -translate-x-1/2 flex-col gap-4 rounded-md p-4 shadow-md"
  >
    <button
      class="text-neutral-2 hover:text-secondary hover:font-bold"
      [routerLink]="['/home/profile-company']"
    >
      Profile
    </button>
    <button
      class="text-neutral-2 hover:text-secondary hover:font-bold"
      [routerLink]="['/applications']"
    >
      Applications
    </button>
    <button
      class="text-neutral-2 hover:text-secondary hover:font-bold"
      [routerLink]="['/invites']"
    >
      Invites
    </button>
    <button
      class="text-neutral-2 hover:text-secondary hover:font-bold"
      [routerLink]="['/hired']"
    >
      Hired
    </button>
    <button
      class="text-neutral-2 hover:text-secondary hover:font-bold"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</div>
