<div class="container px-5 mx-auto">
  <div>
    <div class="flex gap-2 items-center py-4 cursor-pointer">
      <i class="bi bi-arrow-left text-base-100 text-xl"></i>
      <p class="font-bold text-sm text-base-100 font-mono">Back</p>
    </div>
    <div class="absolute">
      <div class="relative">
        <div class="container pr-6 md:pr-0">
          <div
            *ngIf="!background"
            class="object-cover h-[200px] md:w-[37rem] xl:w-[72rem] lg:w-[55rem] 2xl:w-[85rem] w-full sm:w-[37rem] rounded-lg container bg-neutral"
          ></div>
          <img
            *ngIf="background"
            class="object-cover h-[200px] md:w-[37rem] xl:w-[72rem] lg:w-[55rem] 2xl:w-[85rem] sm:w-[37rem] rounded-lg container bg-neutral"
            [src]="background"
            alt="background profile"
          />
        </div>
        <div
          *ngIf="editProfile === true"
          class="container flex justify-end pr-10"
        >
          <div
            class="absolute top-1/4 rounded-full shadow z-50 w-9 h-9 flex items-center justify-center cursor-pointer"
            (click)="background.click()"
          >
            <input
              #background
              class="hidden"
              type="file"
              accept="image/*"
              (change)="onFileChange($event, true)"
            />
            <i
              class="bi bi-pencil text-sm text-primary shadow bg-neutral py-2 px-3 rounded-full"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="relative md:pt-24 pt-28">
      <div class="md:pl-24 flex justify-center md:justify-start">
        <div
          class="container flex justify-end bg-white border-2 rounded-3xl border-base-300 w-48 h-48"
        >
          <div
            *ngIf="!profilePhoto"
            class="rounded-3xl bg-neutral object-cover w-48 h-46"
          ></div>
          <img
            *ngIf="profilePhoto"
            class="rounded-3xl object-cover w-48 h-46"
            [src]="profilePhoto"
          />
          <div
            *ngIf="editProfile === true"
            class="absolute rounded-3xl pt-40 pr-3 w-9 h-9 flex items-center justify-center cursor-pointer"
            (click)="profilePhoto.click()"
          >
            <input
              #profilePhoto
              class="hidden"
              type="file"
              accept="image/*"
              (change)="onFileChange($event, false)"
            />
            <i
              class="bi bi-pencil text-sm text-primary shadow bg-neutral py-2 px-3 rounded-full"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:pl-72 pt-10 lg:pt-0 md:pr-28 xl:pr-20 2xl:pr-32 pb-6">
      <div class="pb-8 min-[400px]:flex justify-between gap-6">
        <div class="w-full">
          @if (editProfile === true) {
          <wagademy-input
            [disabledInput]="!editProfile"
            [value]="companyName"
          ></wagademy-input>
          <div class="pt-2">
            <wagademy-input
              [disabledInput]="!editProfile"
              [value]="areaOfExpertise"
            ></wagademy-input>
          </div>
          }@else {
          <h3 class="font-sans text-2xl font-medium text-base-100 pb-2">
            {{ companyName }}
          </h3>
          <div class="flex gap-2">
            <i class="bi bi-lightning-charge text-primary"></i>
            <p class="text-base-200 font-mono">{{ areaOfExpertise }}</p>
          </div>
          }
        </div>
        @if (editProfile === false) {
        <div class="pt-2">
          <button
            class="btn btn-outline btn-primary w-[158px]"
            (click)="toggleEditProfile()"
          >
            Edit Profile
          </button>
        </div>
        }@else{
        <div class="pt-2">
          <button class="btn btn-outline btn-primary w-[158px]">
            Update Profile
          </button>
        </div>
        }
      </div>
      <div class="pb-6">
        <p class="text-primary font-mono font-bold pb-2">Description</p>
        <textarea
          class="h-28 w-full outline-none p-2 text-base-100 bg-neutral"
          [value]="description"
          [disabled]="!editProfile"
        ></textarea>
      </div>
      <div>
        <p class="text-primary font-bold font-mono pb-4">
          What your are looking for?
        </p>
        <div *ngIf="editProfile === true">
          <wagademy-input
            [(ngModel)]="newWord"
            (keyup.enter)="addAreaOfInterest()"
          ></wagademy-input>
          <div class="flex flex-wrap gap-4 pt-6">
            <div *ngFor="let word of areaOfInterest; let i = index">
              <div
                class="bg-neutral flex gap-2 rounded-3xl font-sm font-mono py-1 px-2"
              >
                <p class="text-base-100">{{ word }}</p>
                <i
                  (click)="removeAreaOfInterest(i)"
                  class="bi bi-x-lg text-error cursor-pointer"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="editProfile === false">
          <div class="flex flex-wrap gap-4">
            <div *ngFor="let word of areaOfInterest">
              <div
                class="bg-neutral rounded-3xl text-base-100 font-sm font-mono py-1 px-2"
              >
                {{ word }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
