<div class="bg-neutral-3 rounded-md">
  <div
    [ngClass]="listType === 'grid' ? 'flex-col' : 'justify-between'"
    class="flex items-center gap-8 px-4 py-8"
  >
    <div
      [ngClass]="listType === 'grid' ? 'w-full flex-col' : 'w-10/12'"
      class="flex items-center gap-8"
    >
      <img src="../../../assets/img/books-icon.svg" alt="books icon" />
      <div class="grid gap-3">
        <span class="text-neutral-2 font-mono"
          >Congratulations on completing the
          <span class="font-bold">{{ attributes.courseName }}</span> course! 🎉
        </span>
        <span class="text-neutral-2 font-mono text-sm"
          >Please click the button to download and claim your well-deserved
          certificate.</span
        >
      </div>
    </div>
    <div
      [ngClass]="listType === 'grid' ? 'w-9/12' : 'w-2/12'"
      class="grid gap-1 text-center"
    >
      <lens-academy-button-primary
        *ngIf="!hasCollectedByMe"
        (click)="
          claim.emit({
            courseName: attributes.courseName,
            publicationId
          })
        "
        >CLAIM</lens-academy-button-primary
      >
      <span *ngIf="hasCollectedByMe" class="text-neutral-2 my-2">CLAIMED</span>
      <a
        class="text-secondary cursor-pointer text-xs hover:underline"
        (click)="
          downloadPDFCertificate(
            attributes.participant,
            attributes.courseName,
            attributes.conductor
          )
        "
        >DOWNLOAD PDF</a
      >
    </div>
  </div>
</div>
