.range-credits::-webkit-slider-thumb {
  background-color: #80ff00;
}

.range-dark::-webkit-slider-thumb {
  background-color: #192132;
}

.zero-thumb::-webkit-slider-thumb {
  width: 0 !important;
}
