<div
  class="sm:w-[304px] w-[230px] bg-neutral hover:shadow-lg mx-auto flex relative rounded-lg"
  [ngClass]="[
    details === 'more'
      ? 'h-[280px] cursor-pointer'
      : 'group  justify-center h-[336px]'
  ]"
>
  <div
    class="font-mono"
    [ngClass]="[details === 'more' ? 'w-[80px]' : 'sm:w-[304px] w-[230px]']"
  >
    <img
      *ngIf="img"
      [src]="img"
      class="object-cover"
      [ngClass]="[
        details === 'more'
          ? ' h-[80px] w-[80px] pl-4 pt-4 rounded'
          : 'h-40 w-full rounded-t-lg'
      ]"
      alt="image"
    />
    <img
      *ngIf="!img"
      [src]="'./assets/img/images/img-card-fallback.webp'"
      class="object-cover"
      [ngClass]="[
        details === 'more'
          ? ' h-[80px] w-[80px] pl-4 pt-4 rounded'
          : 'h-40 w-full rounded-t-lg'
      ]"
      alt="fallback image"
    />
    <div
      class="px-4 absolute bottom-4 bg-neutral group-hover:-translate-y-8 duration-300 w-full"
    >
      <h3
        class="text-base-100 pb-1 pt-4 text-ellipsis overflow-hidden whitespace-nowrap"
        [ngClass]="[
          details === 'more'
            ? ' text-base font-mono font-bold'
            : 'font-sans font-medium text-2xl'
        ]"
      >
        {{ name }}
      </h3>
      <div class="pb-6">
        <p class="text-base-200 font-mono h-24 overflow-hidden line-clamp-3">
          {{ description }}
        </p>
      </div>
    </div>
    <div *ngIf="details === 'main'" class="absolute bottom-0 w-full p-4">
      <div class="opacity-0 w-full duration-300 group-hover:opacity-100">
        <button class="btn btn-primary w-full" (click)="onViewMoreClick()">
          {{ button }}
        </button>
      </div>
    </div>
  </div>
</div>
