<wagademy-navbar-landing *ngIf="!routerNavbar"></wagademy-navbar-landing>
<wagademy-navbar-authenticated
  *ngIf="routerNavbar"
></wagademy-navbar-authenticated>
<div class="container mx-auto my-9 px-3">
  <div
    *ngIf="!routerNavbar"
    class="text-secondary mb-6 flex cursor-pointer items-center gap-2"
    [routerLink]="['/']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div
    *ngIf="routerNavbar"
    class="text-secondary mb-6 flex cursor-pointer items-center gap-2"
    [routerLink]="['/home']"
  >
    <i class="bi-arrow-left text-xl"></i>
    <span class="font-mono font-bold">Back</span>
  </div>
  <div>
    <div class="container absolute">
      <img
        *ngIf="publications[0].profile.coverPicture?.original?.url"
        class="h-[200px] w-full sm:w-[640px] md:h-[320px] md:w-[800px] lg:w-[1512px]"
        [src]="publications[0].profile.coverPicture?.original?.url"
        alt="banner image"
      />
      <img
        *ngIf="!publications[0].profile.coverPicture?.original?.url"
        class="h-[200px] w-full sm:w-[640px] md:h-[320px] md:w-[800px] lg:w-[1512px]"
        src="../../assets/img/img-banner-profile.png"
        alt="banner image"
      />
    </div>
    <div
      class="relative h-[150px] w-[150px] px-6 pt-14 pb-8 md:h-[400px] md:w-[400px] md:pt-48"
    >
      <img
        *ngIf="publications[0].profile.picture?.original?.url"
        class="border-neutral-5 w-56 rounded-full border"
        [src]="publications[0].profile.picture?.original?.url"
        alt="profile image"
      />
      <img
        *ngIf="!publications[0].profile.picture?.original?.url"
        class="border-neutral-5 w-56 rounded-full border"
        src="../../assets/img/img-profile-wagademy.svg"
        alt="profile image"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 pt-24 md:grid-cols-3 md:pt-10">
    <div>
      <p
        *ngIf="publications[0].profile.name"
        class="text-secondary font-sans text-2xl font-bold"
      >
        {{ publications[0].profile.name }}
      </p>
      <p
        *ngIf="!publications[0].profile.name"
        class="text-secondary font-sans text-2xl font-bold"
      >
        No name
      </p>
      <p class="text-primary pb-4">@{{ publications[0].profile.handle }}</p>
      <div class="flex gap-x-10 pb-4">
        <div>
          <p class="text-secondary font-mono text-lg">
            {{ publications[0].profile.stats.totalFollowing }}
          </p>
          <p class="text-neutral-2">Following</p>
        </div>
        <div>
          <p class="text-secondary font-mono text-lg">
            {{ publications[0].profile.stats.totalFollowers }}
          </p>
          <p class="text-neutral-2">Followers</p>
        </div>
      </div>
      <div *ngIf="routerNavbar">
        <button
          class="border-primary text-primary hover:bg-primary hover:text-neutral-4 w-20 rounded border py-2 font-mono md:w-32"
          (click)="
            publications[0].profile.isFollowedByMe
              ? unfollow(publications[0].profile.id)
              : follow(publications[0].profile.id)
          "
        >
          {{ publications[0].profile.isFollowedByMe ? 'UNFOLLOW' : 'FOLLOW +' }}
        </button>
      </div>
      <div *ngIf="!routerNavbar">
        <button
          class="border-primary text-primary hover:bg-primary hover:text-neutral-4 w-20 rounded border py-2 font-mono md:w-32"
          [routerLink]="['/account-type']"
        >
          FOLLOW +
        </button>
      </div>
    </div>
    <div class="col-span-2 px-5 py-6 md:py-0">
      <div
        class="pb-4"
        *ngFor="let publication of publications | slice : 0 : display"
      >
        <wagademy-post-card [publication]="publication"> </wagademy-post-card>
      </div>
      <div class="flex justify-end">
        <button
          *ngIf="display < 50"
          class="text-secondary cursor-pointer text-xl font-semibold"
          (click)="display = display + 47; getProfilePublications()"
        >
          Show More
        </button>
      </div>
    </div>
  </div>
</div>
<wagademy-success-modal
  *ngIf="followModal"
  [message]="'Successfully followed'"
></wagademy-success-modal>
