<div class="flex h-full w-full flex-col gap-4 p-4 shadow-md">
  <div class="flex items-center gap-4">
    <img
      [src]="sanitizeUrl(publication.profile.picture?.original?.url)"
      alt="avatar example"
      class="h-12 w-12 rounded-full object-cover"
    />
    <p class="text-neutral-1 font-bold">
      {{ publication.profile.name || publication.profile.handle }}
    </p>
  </div>
  <img
    *ngIf="
      publication.metadata.media.length &&
      publication.metadata.media[0].original.mimeType.includes('image')
    "
    [src]="sanitizeUrl(publication.metadata.media[0].original.url)"
    alt="post media"
  />
  <video
    controls
    *ngIf="
      publication.metadata.media.length &&
      publication.metadata.media[0].original.mimeType.includes('video')
    "
  >
    <source
      [src]="sanitizeUrl(publication.metadata.media[0].original.url)"
      type="video/mp4"
    />
    Your browser does not support the video.
  </video>
  <p
    class="text-neutral-2 break-all font-mono text-sm"
    *ngIf="publication.metadata.content"
  >
    {{ publication.metadata.content }}
  </p>
</div>
