<div class="container mx-auto min-h-screen px-3 sm:px-0">
  <div class="pb-6 pt-8 flex gap-2 items-center">
    <h2 class="font-sans font-medium text-4xl text-base-100">GPTs</h2>
    <p class="text-primary text-sm font-bold">| BUILD TRAINING DATA</p>
  </div>
  <div class="flex gap-2 pb-8">
    <div class="w-32">
      <wagademy-select></wagademy-select>
    </div>
    <div class="w-full">
      <wagademy-input></wagademy-input>
    </div>
  </div>
  @for (item of items; track items; let i = $index) {
  <div class="gap-8 sm:flex">
    <div class="w-full">
      <div class="flex gap-2 pb-2">
        <div class="bg-neutral flex items-center px-4 w-32 rounded-lg">
          <p class="text-primary font-bold font-mono">User</p>
        </div>
        <div class="w-full">
          <wagademy-input></wagademy-input>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="flex gap-2 pb-2">
        <div class="bg-neutral flex items-center px-4 w-32 rounded-lg">
          <p class="text-accent font-bold font-mono">Chatbot</p>
        </div>
        <div class="w-full">
          <wagademy-input></wagademy-input>
        </div>
        <button class="text-error pl-8" (click)="removeItem(i)">Remove</button>
      </div>
    </div>
  </div>
  }
  <div class="flex justify-end pt-8" (click)="addNewItem()">
    <button class="btn btn-primary w-[129px] btn-outline">Add New Item</button>
  </div>
  <div class="flex justify-center pb-6 pt-14">
    <button class="btn btn-primary w-[200px]" (click)="saveItems()">
      Save
    </button>
  </div>
</div>
