<div class="bg-neutral-3 flex flex-col gap-4 rounded-sm p-4 shadow-md">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      <div class="flex items-center gap-4 pb-4">
        <img
          src="https://i.pravatar.cc/300"
          alt="avatar example"
          class="h-12 w-12 rounded-full object-cover"
        />
        <span class="text-neutral-1 font-mono text-base font-bold"
          >Company Name</span
        >
      </div>
      <p class="text-neutral-2 font-mono text-sm">
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
        cillum dolor. Voluptate exercitation incididunt aliquip deserunt
        reprehenderit elit laborum.
      </p>
      <p class="text-neutral-2 py-4 font-mono text-sm">
        Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui
        esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit
        aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute
        id deserunt nisi. 🚀🤘
      </p>
    </div>
    <div class="flex justify-end pt-4 md:pt-0">
      <img
        class="object-scale-down md:max-h-[416px]"
        src="../../../assets/img/img-home-company.svg"
        alt="activity example"
      />
    </div>
  </div>
</div>
