<div class="container mx-auto min-h-screen px-3 sm:px-0">
  <div class="pb-8 pt-6">
    <h2 class="font-sans font-medium text-4xl text-base-100">Home</h2>
  </div>
  <div
    *ngIf="!applications.length && !courses.length"
    class="flex w-full items-center font-bold text-2xl text-base-100 justify-center mt-[30vh]"
  >
    <p>There are no content available</p>
  </div>
  <div class="pb-6" *ngIf="!isLoading">
    <div *ngIf="applications.length">
      <div class="flex justify-between pb-2">
        <h3 class="text-2xl text-base-100 font-sans font-medium">
          Applications
        </h3>
        <button class="text-primary font-serif text-xl">See More</button>
      </div>
      <div
        class="max-[513px]:justify-center flex-wrap justify-between flex gap-8 pt-6 xl:pt-0"
      >
        <wagademy-card
          *ngFor="let applications of applications; let i = index"
          [img]="applications.images"
          [name]="applications.name"
          [description]="applications.description"
          [applications]="applications.applications"
          [button]="'View More'"
          [menu]="'jobs'"
          [isOpen]="selectedCardIndex === i"
          (click)="onCardClick(i)"
        ></wagademy-card>
      </div>
    </div>
    <div *ngIf="courses.length">
      <div class="flex justify-between pt-6 pb-2">
        <h3 class="text-2xl text-base-100 font-sans font-medium">Courses</h3>
        <button class="text-primary font-serif text-xl">See More</button>
      </div>
      <div
        class="max-[513px]:justify-center flex-wrap justify-between flex gap-8 pt-6 xl:pt-0"
      >
        <wagademy-card
          *ngFor="let courses of courses; let i = index"
          [img]="courses.images"
          [name]="courses.name"
          [description]="courses.description"
          [button]="'Invite GPT+'"
          [menu]="'courses'"
          [isOpenCourses]="selectedCardCourseIndex === i"
          (click)="onCardCourseClick(i)"
        ></wagademy-card>
      </div>
    </div>
  </div>
</div>
