<footer class="bg-neutral-3">
  <div class="container mx-auto px-6">
    <div class="flex items-center gap-6 py-12 sm:gap-16">
      <img src="../../assets/img/lens-logo.svg" alt="lens logo" class="w-24" />
      <div class="flex flex-col gap-2 font-mono">
        <span class="font-bold text-neutral-1"> Contact </span>
        <span class="text-neutral-1"> contact@lens.com </span>
        <div class="flex gap-3 text-xl text-secondary">
          <i class="bi bi-twitter cursor-pointer"></i>
          <i class="bi bi-instagram cursor-pointer"></i>
          <i class="bi bi-discord cursor-pointer"></i>
        </div>
      </div>
    </div>
    <small class="block pb-4 text-center text-neutral-2">
      © 2023 Lens - All Rights reserved!
    </small>
  </div>
</footer>
