<footer class="bg-neutral-3">
  <div class="container mx-auto px-6">
    <div class="flex items-center gap-6 py-12 sm:gap-16">
      <img
        src="../../assets/img/logo-footer.svg"
        alt="lens logo"
        class="w-40"
      />
      <div class="flex flex-col gap-2 font-mono">
        <span class="text-neutral-1 font-bold"> Contact </span>
        <span class="text-neutral-1"> contact@lens.com </span>
        <div class="text-secondary flex gap-3 text-xl">
          <i class="bi bi-twitter cursor-pointer"></i>
          <i class="bi bi-instagram cursor-pointer"></i>
          <i class="bi bi-discord cursor-pointer"></i>
        </div>
      </div>
    </div>
    <small class="text-neutral-2 block pb-4 text-center">
      © 2023 Lens - All Rights reserved!
    </small>
  </div>
</footer>
