<form [formGroup]="form" class="mt-10 flex flex-col gap-10 md:flex-row">
  <img
    src="https://i.pravatar.cc/300"
    alt="avatar example"
    class="h-24 w-24 self-center rounded-full object-cover md:self-start"
  />
  <div class="flex grow flex-col gap-4">
    <legend
      class="text-secondary mb-2 text-2xl font-bold"
      *ngIf="mode === 'VIEW'"
    >
      Profile
    </legend>
    <wagademy-form-field [control]="getControl('name')" label="Name">
      <wagademy-input
        type="text"
        placeholder="Name"
        formControlName="name"
      ></wagademy-input>
    </wagademy-form-field>
    <wagademy-form-field [control]="getControl('email')" label="Email">
      <wagademy-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></wagademy-input>
    </wagademy-form-field>
    <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
      <wagademy-form-field
        [control]="getControl('dateOfBirth')"
        label="Date of Birth"
        class="flex-1"
      >
        <wagademy-input
          type="date"
          formControlName="dateOfBirth"
        ></wagademy-input>
      </wagademy-form-field>
      <wagademy-form-field
        [control]="getControl('cellphone')"
        label="Contact Number"
        class="flex-1"
      >
        <wagademy-input
          type="tel"
          placeholder="Contact Number"
          formControlName="cellphone"
        ></wagademy-input>
      </wagademy-form-field>
    </div>
    <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
      <wagademy-form-field
        [control]="getControl('country')"
        label="Country"
        class="flex-1"
      >
        <wagademy-input
          type="text"
          placeholder="Country"
          formControlName="country"
        ></wagademy-input>
      </wagademy-form-field>
      <wagademy-form-field
        [control]="getControl('state')"
        label="State"
        class="flex-1"
      >
        <wagademy-input
          type="text"
          placeholder="State"
          formControlName="state"
        ></wagademy-input>
      </wagademy-form-field>
    </div>
    <wagademy-form-field [control]="getControl('about')" label="About">
      <wagademy-text-area
        placeholder="About"
        formControlName="about"
      ></wagademy-text-area>
    </wagademy-form-field>
    <div
      id="edit"
      class="-mt-4 flex cursor-pointer items-center gap-2 self-end"
      (click)="edit.emit()"
      *ngIf="mode === 'VIEW'"
    >
      <span class="mb-1 font-mono font-bold">Edit</span>
      <i class="bi bi-pencil text-secondary"></i>
    </div>
    <wagademy-button-primary
      id="next-or-save"
      class="mt-12 w-full self-end sm:w-52"
      *ngIf="mode !== 'VIEW'"
      (click)="mode === 'CREATE' ? nextStep.emit() : saveEdit.emit()"
      >{{ mode === 'CREATE' ? 'NEXT' : 'SAVE' }}</wagademy-button-primary
    >
  </div>
</form>
