<footer class="bg-neutral">
  <div class="flex justify-center lg:px-16 px-5 pt-16">
    <div class="container px-0">
      <div class="md:flex justify-between md:flex-wrap">
        <div class="pt-3">
          <img
            class="pt-2 md:block hidden"
            src="./assets/img/images/img-logo-footer.webp"
            alt="wagademy logo"
            loading="lazy"
            width="152px"
            height="152px"
          />
          <img
            class="pt-2 mb-4 block md:hidden mx-auto"
            src="./assets/img/images/img-logo-navbar.webp"
            alt="wagademy logo"
            loading="lazy"
            width="152px"
            height="152px"
          />
        </div>
        <div>
          <h3 class="text-base-100 font-bold pb-3 pt-8 md:pt-0">Contact</h3>
          <a
            class="text-decoration-none text-base-200 font-mono"
            href="mailto:jobs@ventureminer.com"
          >
            contact&#64;ventureminer.com
          </a>
          <div class="flex gap-2 pt-3">
            <a><i class="bi bi-twitter-x text-primary text-2xl"></i></a>
            <a><i class="bi bi-instagram text-primary text-2xl"></i></a>
            <a><i class="bi bi-discord text-primary text-2xl"></i></a>
          </div>
        </div>
      </div>
      <div class="py-4 md:pt-3 pt-16">
        <small class="text-base-200 flex justify-center pt-4">
          © 2024 Wagademy - All Rights reserved!
        </small>
      </div>
    </div>
  </div>
</footer>
