<div class="bg-[#FFFFFF]">
  <section>
    <div
      class="container mx-auto py-4 px-5 md:px-0 flex flex-col justify-between md:flex-row"
    >
      <div class="w-full md:w-1/2 md:pb-28 px-5">
        <div class="pt-16">
          <img
            class="mx-auto md:hidden block"
            src="./assets/img/images/img-logo-mobile.svg"
            alt="logo mobile"
          />
          <h1 class="text-base-100 font-sans md:text-5xl text-2xl font-medium">
            Welcome to Wagademy
          </h1>
          <p
            class="text-base-200 font-sans md:text-2xl text-base font-medium pb-8 pt-6"
          >
            Where educational innovation is the priority. Explore unique
            learning experiences facilitated by cutting-edge technology,
            fostering connections between companies and students.
          </p>
        </div>
        <div class="pt-16 flex gap-8">
          <div
            [routerLink]="['/student']"
            class="w-28 h-28 bg-neutral cursor-pointer hover:bg-primary text-base-200 hover:text-base-100 rounded-lg px-2"
          >
            <p class="text-sm font-mono text-center pt-11">I’m student</p>
          </div>
          <div class="w-28 h-28 bg-primary rounded-lg px-2">
            <p class="text-sm font-mono text-base-100 text-center pt-9">
              I’m company
            </p>
            <div class="flex justify-center">
              <img
                src="./assets/icons/icon-scroll-pointer.svg"
                alt="scroll pointer"
              />
            </div>
          </div>
        </div>
        <div class="mx-auto md:hidden block">
          <img src="./assets/img/images/img-bg-mobile.svg" alt="bg mobile" />
        </div>
      </div>
      <div class="hidden md:block">
        <img
          width="492px"
          height="620px"
          src="./assets/img/images/img-section-one.webp"
          alt="section one"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <section class="bg-base-100 container mx-auto px-5">
    <div class="py-8">
      <p class="text-center text-primary font-sans text-sm">
        CONNECTING THE FUTURE
      </p>
      <p class="text-center text-4xl text-neutral font-sans font-medium pt-2">
        Unlock Opportunities and Growth
      </p>
      <p
        class="mx-auto text-center pt-4 font-mono text-neutral md:w-1/2 w-full"
      >
        Our innovative platform connects companies and students, offering
        diverse courses and digital certificates. Companies can advertise
        training programs, gauge interest, and issue certificates as NFTs. For
        students, we provide access to quality courses and recognized
        certificates, aiding in their professional development.
      </p>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto py-4 px-5 md:px-0 flex flex-col justify-between md:flex-row"
    >
      <div class="md:w-1/2 w-full xl:pt-[140px] pt-14">
        <h2 class="font-sans text-base-100 font-medium text-4xl pb-4">
          Simplify the Hiring Process
        </h2>
        <p class="font-mono text-base-100 pb-10">
          Post your job vacancies on the platform and reach a diverse pool of
          talent
        </p>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Easily manage the flow of candidates
          </p>
        </div>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Assess interest and find the ideal candidate for your team
          </p>
        </div>
        <div class="flex gap-2">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Reduce the risk of fraudulent CVs or qualifications
          </p>
        </div>
      </div>
      <div>
        <img
          src="./assets/img/company/img-company-block1.webp"
          alt="simplify the hiring process"
        />
      </div>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto py-4 px-5 md:px-0 flex flex-col-reverse justify-between md:flex-row"
    >
      <div>
        <img
          src="./assets/img/company/img-company-block2.webp"
          alt="simplify interviews"
        />
      </div>
      <div class="md:w-1/2 w-full xl:pt-[140px] pt-14">
        <h2 class="font-sans text-base-100 font-medium text-4xl pb-4">
          Simplify interviews
        </h2>
        <p class="font-mono text-base-100 pb-10">
          Speed up the recruitment process with interviews conducted by
          artificial intelligence
        </p>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Save time and resources with initial screening of candidates
          </p>
        </div>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Identify talent based on objective and behavioral criteria
          </p>
        </div>
        <div class="flex gap-2">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">Efficient, data-driven hiring</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto py-4 px-5 md:px-0 flex flex-col justify-between md:flex-row"
    >
      <div class="md:w-1/2 w-full xl:pt-[140px] pt-14">
        <h2 class="font-sans text-base-100 font-medium text-4xl pb-4">
          Train AI Chatbots to Showcase Your Technology
        </h2>
        <p class="font-mono text-base-100 pb-10">
          Empower your company with the ability to train language models capable
          of answering questions about your technologies
        </p>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Invite users to interact with these AI-powered chatbots
          </p>
        </div>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Provide instant access to information and assistance
          </p>
        </div>
        <div class="flex gap-2">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Improve customer engagement and support
          </p>
        </div>
      </div>
      <div>
        <img
          src="./assets/img/company/img-company-block3.webp"
          alt="train AI chatbots to showcase your technology"
        />
      </div>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto py-4 px-5 md:px-0 flex flex-col-reverse justify-between md:flex-row"
    >
      <div>
        <img
          src="./assets/img/company/img-company-block4.webp"
          alt="showcase your courses and expand your reach"
        />
      </div>
      <div class="md:w-1/2 w-full xl:pt-[140px] pt-14">
        <h2 class="font-sans text-base-100 font-medium text-4xl pb-4">
          Showcase Your Courses and Expand Your Reach
        </h2>
        <p class="font-mono text-base-100 pb-10">
          With our platform, your company can present courses effectively,
          reaching a wide audience of eager students
        </p>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Gain valuable insights by measuring interest in your courses
          </p>
        </div>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Easily manage issued certificates
          </p>
        </div>
        <div class="flex gap-2">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Turn certificates into unique NFTs
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto py-4 px-5 md:px-0 flex flex-col justify-between md:flex-row"
    >
      <div class="md:w-1/2 w-full xl:pt-[140px] pt-14">
        <h2 class="font-sans text-base-100 font-medium text-4xl pb-4">
          NFT Certificates: Authenticity and Innovation
        </h2>
        <p class="font-mono text-base-100 pb-10">
          Modernize your certification process by issuing certificates as NFTs
          on our platform
        </p>
        <div class="flex gap-2 pb-4">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Guarantee the authenticity and security of your certificates
          </p>
        </div>
        <div class="flex gap-2">
          <i class="bi bi-check-circle text-primary"></i>
          <p class="text-base-200 font-mono">
            Offer your students an innovative experience
          </p>
        </div>
      </div>
      <div>
        <img
          src="./assets/img/company/img-company-block5.webp"
          alt="NFT certificates"
        />
      </div>
    </div>
  </section>
</div>
