<div class="absolute inset-0 z-20 backdrop-blur-sm">
  <div class="my-10 flex min-h-screen items-center justify-center">
    <div class="lg:w[908px] w-11/12 shadow-lg sm:w-8/12">
      <div class="bg-secondary flex justify-between px-6 py-5">
        <h5 class="text-primary font-bold tracking-widest">DETAILS</h5>
        <img
          src="./assets/img/x-icon.svg"
          alt="x icon"
          class="cursor-pointer"
          (click)="cancel.emit()"
        />
      </div>
      <div class="bg-neutral-4">
        <div class="py-6 px-5">
          <p class="text-neutral-1 pb-2 font-sans text-2xl font-bold">
            For who?
          </p>
          <div class="mb-10 flex flex-col gap-8 sm:flex-row">
            <lens-academy-input
              type="search"
              placeholder="Search"
              class="grow"
            ></lens-academy-input>
            <lens-academy-input-select></lens-academy-input-select>
          </div>
          <div class="flex gap-x-4 pt-6">
            <img
              class="h-28 w-28"
              src="./assets/img/img-details-user.svg"
              alt="details user"
            />
            <div class="text-neutral-1 font-sans text-2xl font-bold">
              <p>User Name</p>
              <p>Course Name</p>
            </div>
          </div>
          <form [formGroup]="form" class="pt-7">
            <div class="pb-3">
              <lens-academy-input
                formControlName="course"
                placeholder="Course name"
              ></lens-academy-input>
            </div>
            <div class="pb-3">
              <lens-academy-input
                formControlName="institution"
                placeholder="Institution Name"
              ></lens-academy-input>
            </div>
            <div class="pb-6">
              <lens-academy-input
                formControlName="hours"
                placeholder="Hours Completed"
              ></lens-academy-input>
            </div>
          </form>
          <div class="relative shadow-lg">
            <div
              class="bg-secondary from-neutral-3 text-neutral-3 flex-col space-y-4 px-3 py-10 text-center sm:px-6"
            >
              <img
                class="absolute top-36 h-24 sm:h-36"
                src="./assets/img/certificate-badge-icon.svg"
                alt="certificate badge"
              />
              <p class="text-sm">COURSE</p>
              <h1 class="text-neutral-3 text-4xl font-bold sm:text-5xl">
                Certificate
              </h1>
            </div>
            <div class="bg-neutral-3">
              <div class="space-y-4 px-3 pb-14 pt-20 sm:px-10 md:px-24">
                <h2
                  class="text-secondary text-center text-2xl font-bold sm:text-3xl"
                >
                  User Name
                </h2>
                <p class="font-mono">
                  has successfully completed
                  <strong>Name course, 09/05/2023</strong> Amet minim mollit non
                  deserunt ullamco est sit aliqua dolor do amet sint Amet minim
                  mollit non deserunt ullamco est sit aliqua.
                </p>
              </div>
              <div class="flex justify-between px-3 pb-16 sm:px-10 md:px-24">
                <div class="border-neutral-1 mb-5 w-2/4 border-b text-center">
                  Name
                </div>
                <img src="./assets/img/lens-logo.svg" alt="lens-logo" />
              </div>
            </div>
          </div>
          <div class="flex justify-center pt-4">
            <button
              class="bg-secondary text-neutral-4 hover:bg-primary hover:text-neutral-1 mx-auto rounded-lg px-4 text-3xl"
            >
              Generate
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
