<div class="pt-8 min-h-screen container mx-auto px-5 lg:px-40">
  <p class="text-4xl text-neutral-950 mb-8 text-center font-bold">
    Confirm your details
  </p>
  <div class="mb-4">
    <wagademy-photo-upload
      (onImageUploaded)="onImageUploaded($event)"
      [profilePhotoUrl]="profilePhotoUrl"
      [size]="'small'"
    ></wagademy-photo-upload>
  </div>
  <p class="text-xl font-bold text-primary mb-6">Profile</p>
  @if (editMode) {
  <form [formGroup]="userData">
    <div class="flex flex-col md:flex-row md:gap-10">
      <div class="md:w-1/2">
        <wagademy-form-field
          [control]="userData.controls['name']"
          [isInputMandatory]="true"
        >
          <wagademy-input
            placeholder="Name example"
            type="text"
            formControlName="name"
          >
          </wagademy-input>
        </wagademy-form-field>
      </div>
      <div class="md:w-1/2">
        <wagademy-form-field
          [control]="userData.controls['email']"
          [isInputMandatory]="true"
        >
          <wagademy-input
            placeholder="email@email.com"
            type="text"
            formControlName="email"
          >
          </wagademy-input>
        </wagademy-form-field>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:gap-10">
      <div class="md:w-1/2">
        <wagademy-form-field
          [control]="userData.controls['dateOfBirth']"
          [isInputMandatory]="true"
        >
          <wagademy-input type="date" formControlName="dateOfBirth">
          </wagademy-input>
        </wagademy-form-field>
      </div>
      <div class="md:w-1/2">
        <wagademy-form-field
          [control]="userData.controls['contactNumber']"
          [isInputMandatory]="true"
        >
          <wagademy-input
            placeholder="+55 11 91234-5678"
            type="text"
            formControlName="contactNumber"
          >
          </wagademy-input>
        </wagademy-form-field>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:gap-10">
      <div class="md:w-1/2">
        <wagademy-form-field
          [control]="userData.controls['country']"
          class="w-full"
          [isInputMandatory]="true"
        >
          <wagademy-select
            [items]="countries"
            [formControl]="userData.controls['country']"
            (selectionChange)="onCountrySelect($event)"
          ></wagademy-select>
        </wagademy-form-field>
      </div>
      <div class="md:w-1/2">
        <wagademy-form-field
          [control]="userData.controls['state']"
          class="w-full"
          [isInputMandatory]="true"
        >
          <wagademy-select
            [items]="states"
            [formControl]="userData.controls['state']"
          ></wagademy-select>
        </wagademy-form-field>
      </div>
    </div>
    <p class="text-primary font-bold mt-4">About</p>
    <wagademy-form-field [control]="userData.controls.about">
      <wagademy-text-area formControlName="about"></wagademy-text-area>
    </wagademy-form-field>
  </form>
  } @else {
  <div class="text-base-200">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
      <div class="text-2xl text-neutral-950 flex items-center gap-2">
        {{ userData.get('name')?.value }}
      </div>
      <div class="flex items-center gap-2">
        <img src="./assets/icons/icon-cake.svg" alt="cake icon" />
        {{ userData.get('dateOfBirth')?.value | date : 'dd/MM/yyyy' }}
      </div>
      <div class="flex items-center gap-2">
        <img src="./assets/icons/icon-envelope.svg" alt="envelope icon" />
        {{ userData.get('email')?.value }}
      </div>
      <div class="flex items-center gap-2">
        <img src="./assets/icons/icon-telephone.svg" alt="telephone icon" />
        {{ userData.get('contactNumber')?.value }}
      </div>
      <div class="flex items-center gap-2">
        <img src="./assets/icons/icon-globe.svg" alt="globe icon" />
        {{ userData.get('country')?.value }}
      </div>
      <div class="flex items-center gap-2">
        <img src="./assets/icons/icon-pin-map.svg" alt="pin icon" />
        {{ userData.get('state')?.value }}
      </div>
    </div>
  </div>
  <p class="text-primary font-bold mb-2">About</p>
  <p class="text-base-200">{{ userData.get('about')?.value }}</p>
  }
  <div class="flex justify-end">
    @if (editMode) {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="areAllFormsValid"
    >
      Update
      <img src="./assets/icons/icon-check.svg" alt="check icon" />
    </button>
    } @else {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="isCreating"
    >
      Edit
      <img src="./assets/icons/icon-pencil.svg" alt="pencil icon" />
    </button>
    }
  </div>
  @if (editMode) {
  <div
    class="flex items-center justify-between border-t-2 border-neutral-300/20"
  >
    <p class="text-xl font-bold text-primary py-6">Education</p>
    <button (click)="addEducationItem()" class="btn btn-accent text-neutral-50">
      Add +
    </button>
  </div>
  <form [formGroup]="educationForm">
    <div formArrayName="items">
      @for (educationItem of educationItems.controls; track educationItem;let i
      =$index,last = $last) {
      <div
        [formGroupName]="i"
        [ngClass]="{
          'border-t-2 border-neutral-300/20 mt-8 pt-8': i > 0
        }"
      >
        <wagademy-form-field [control]="educationItem.get('degree')!">
          <wagademy-input
            placeholder="email@email.com"
            type="text"
            formControlName="degree"
          >
          </wagademy-input>
        </wagademy-form-field>
        <wagademy-form-field [control]="educationItem.get('institution')!">
          <wagademy-input
            placeholder="Education example"
            type="text"
            formControlName="institution"
          >
          </wagademy-input>
        </wagademy-form-field>
        <wagademy-form-field [control]="educationItem.get('course')!">
          <wagademy-input
            placeholder="Course name"
            type="text"
            formControlName="course"
          >
          </wagademy-input>
        </wagademy-form-field>
        <div class="flex flex-col xl:flex-row xl:gap-10 xl:items-center">
          <div class="form-control xl:w-96 w-40">
            <label class="label cursor-pointer">
              <input
                type="checkbox"
                class="checkbox checkbox-primary"
                [checked]="educationItem.get('stillStudying')?.value"
                (change)="
                  onCheckboxChange($event, i, 'educationItems', 'stillStudying')
                "
              />
              <span class="label-text text-neutral-950"
                >I'm still studying</span
              >
            </label>
          </div>
          <div class="w-full">
            <wagademy-form-field [control]="educationItem.get('startDate')!">
              <wagademy-input
                placeholder="MM / DD / YYYY"
                type="date"
                formControlName="startDate"
              >
              </wagademy-input>
            </wagademy-form-field>
          </div>
          <div class="w-full">
            <wagademy-form-field [control]="educationItem.get('endDate')!">
              <wagademy-input
                placeholder="MM / DD / YYYY"
                type="date"
                formControlName="endDate"
              >
              </wagademy-input>
            </wagademy-form-field>
          </div>
        </div>
        <wagademy-form-field [control]="educationItem.get('description')!">
          <wagademy-text-area
            placeholder="Tell your description"
            formControlName="description"
          ></wagademy-text-area>
        </wagademy-form-field>
        @if (i > 0) {
        <button
          class="text-neutral-950 font-bold flex items-center gap-1 disabled:text-neutral-300"
          (click)="removeEducationItem(i)"
        >
          Remove
          <img
            src="./assets/icons/icon-trash.svg"
            width="14px"
            height="14px"
            alt="trash icon"
            fetchpriority="auto"
          /></button
        >}
      </div>
      }
    </div>
  </form>
  } @else {
  <p
    class="text-xl font-bold text-primary py-6 border-t-2 border-neutral-300/20"
  >
    Education
  </p>
  @for (item of educationForm.get('items')?.value; track $index) {
  <div class="mb-3">
    <p class="text-neutral-950 font-bold">{{ item.course }}</p>
    <div class="flex flex-col sm:flex-row gap-2 text-base-200">
      <p class="font-bold">{{ item.degree }}</p>
      <p>{{ item.institution }}</p>
    </div>
    <div class="flex gap-2 items-center mb-4 text-base-200 text-sm">
      <p>{{ item.startDate | date : 'dd/MM/yyyy' }}</p>
      <span class="bg-base-200 w-1 h-1 rounded-full"></span>
      <p>
        {{
          item.stillStudying
            ? "I'm still studying"
            : (item.endDate | date : 'dd/MM/yyyy')
        }}
      </p>
    </div>
    <p class="text-neutral-950">{{ item.description }}</p>
  </div>
  } }
  <div class="flex justify-end">
    @if (editMode) {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="areAllFormsValid"
    >
      Update
      <img src="./assets/icons/icon-check.svg" alt="check icon" />
    </button>
    } @else {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="isCreating"
    >
      Edit
      <img src="./assets/icons/icon-pencil.svg" alt="pencil icon" />
    </button>
    }
  </div>
  @if (editMode) {
  <div
    class="flex items-center justify-between border-t-2 border-neutral-300/20"
  >
    <p class="text-xl font-bold text-primary py-6">Professional Experience</p>
    <button
      (click)="addProfessionalExperienceItem()"
      class="btn btn-accent text-neutral-50"
    >
      Add +
    </button>
  </div>
  <form [formGroup]="professionalExperienceForm">
    <div formArrayName="items">
      @for (professionalExperienceItem of professionalExperienceItems.controls;
      track professionalExperienceForm;let i =$index, last =$last) {
      <div
        [formGroupName]="i"
        [ngClass]="{
          'border-t-2 border-neutral-300/20 mt-8 pt-8': i > 0
        }"
      >
        <wagademy-form-field
          [control]="professionalExperienceItem.get('company')!"
        >
          <wagademy-input
            placeholder="Company example"
            type="text"
            formControlName="company"
          >
          </wagademy-input>
        </wagademy-form-field>
        <wagademy-form-field
          [control]="professionalExperienceItem.get('jobTitle')!"
        >
          <wagademy-input
            placeholder="Job title"
            type="text"
            formControlName="jobTitle"
          >
          </wagademy-input>
        </wagademy-form-field>
        <div class="flex flex-col xl:flex-row xl:gap-10 xl:items-center">
          <div class="form-control w-44 xl:w-[500px]">
            <label class="label cursor-pointer">
              <input
                type="checkbox"
                class="checkbox checkbox-primary"
                [checked]="
                  professionalExperienceItem.get('currentlyWorkingHere')?.value
                "
                (change)="
                  onCheckboxChange(
                    $event,
                    i,
                    'professionalExperienceItems',
                    'currentlyWorkingHere'
                  )
                "
              />
              <span class="label-text text-neutral-950"
                >I currently work here
              </span>
            </label>
          </div>
          <div class="w-full">
            <wagademy-form-field
              [control]="professionalExperienceItem.get('startDate')!"
            >
              <wagademy-input
                placeholder="MM / DD / YYYY"
                type="date"
                formControlName="startDate"
              >
              </wagademy-input>
            </wagademy-form-field>
          </div>
          <div class="w-full">
            <wagademy-form-field
              [control]="professionalExperienceItem.get('endDate')!"
            >
              <wagademy-input
                placeholder="MM / DD / YYYY"
                type="date"
                formControlName="endDate"
              >
              </wagademy-input>
            </wagademy-form-field>
          </div>
        </div>
        <wagademy-form-field
          [control]="professionalExperienceItem.get('description')!"
        >
          <wagademy-text-area
            placeholder="Tell your description"
            formControlName="description"
          ></wagademy-text-area>
        </wagademy-form-field>
        @if (i > 0) {
        <button
          class="text-neutral-950 font-bold flex items-center gap-1 disabled:text-neutral-300"
          (click)="removeProfessionalExperienceItem(i)"
        >
          Remove
          <img
            src="./assets/icons/icon-trash.svg"
            width="14px"
            height="14px"
            alt="trash icon"
            fetchpriority="auto"
          /></button
        >}
      </div>
      }
    </div>
  </form>
  } @else {
  <p
    class="text-xl font-bold text-primary py-6 border-t-2 border-neutral-300/20"
  >
    Professional experience
  </p>
  @for (item of professionalExperienceForm.get('items')?.value; track $index) {
  <div class="mb-3">
    <p class="text-neutral-950 font-bold">{{ item.jobTitle }}</p>
    <p class="flex flex-col sm:flex-row gap-2 text-base-200">
      {{ item.company }}
    </p>
    <div class="flex gap-2 items-center mb-4 text-base-200 text-sm">
      <p>{{ item.startDate | date : 'dd/MM/yyyy' }}</p>
      <span class="bg-base-200 w-1 h-1 rounded-full"></span>
      <p>
        {{
          item.currentlyWorkingHere
            ? 'I currently work here'
            : (item.endDate | date : 'dd/MM/yyyy')
        }}
      </p>
    </div>
    <p class="text-neutral-950">{{ item.description }}</p>
  </div>
  } }
  <div class="flex justify-end">
    @if (editMode) {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="areAllFormsValid"
    >
      Update
      <img src="./assets/icons/icon-check.svg" alt="check icon" />
    </button>
    } @else {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="isCreating"
    >
      Edit
      <img src="./assets/icons/icon-pencil.svg" alt="pencil icon" />
    </button>
    }
  </div>
  <p
    class="text-xl font-bold text-primary py-6 border-t-2 border-neutral-300/20"
  >
    Area of expertise
  </p>
  @if(editMode) {
  <form [formGroup]="expertiseForm">
    <wagademy-form-field
      [control]="expertiseForm.controls['areasOfExpertise']"
      label="You need to fill up to 10 words to describe your areas of expertise (press enter to add)"
    >
      <wagademy-input
        placeholder="Expertise Example"
        type="text"
        formControlName="areasOfExpertise"
        (keydown.enter)="addExpertise()"
        [disabledInput]="isMaxValueOfExpertises"
      >
      </wagademy-input>
    </wagademy-form-field>
  </form>
  <ul class="flex gap-4 mt-6 flex-wrap">
    @for (expertise of expertises; track $index) {
    <li class="bg-neutral text-neutral-950 p-1 rounded-md flex justify-between">
      <p>{{ expertise }}</p>
      <button (click)="removeExpertise($index)">
        <img src="./assets/icons/icon-close.svg" alt="close icon" />
      </button>
    </li>
    }
  </ul>
  } @else {
  <ul class="flex flex-wrap gap-4">
    @for (expertise of expertises; track $index) {
    <li class="bg-neutral text-neutral-950 p-1 rounded-full">
      {{ expertise }}
    </li>
    }
  </ul>
  }
  <div class="flex justify-end">
    @if (editMode) {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="areAllFormsValid"
    >
      Update
      <img src="./assets/icons/icon-check.svg" alt="check icon" />
    </button>
    } @else {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="isCreating"
    >
      Edit
      <img src="./assets/icons/icon-pencil.svg" alt="pencil icon" />
    </button>
    }
  </div>
  <p
    class="text-xl font-bold text-primary py-6 border-t-2 border-neutral-300/20"
  >
    Skills and competences
  </p>
  @if (editMode) {
  <form [formGroup]="skillsForm">
    <wagademy-form-field
      [control]="skillsForm.controls['skillsAndCompetencies']"
      label="You need to fill up to 10 words to describe your skills and competencies (press enter to add)"
    >
      <wagademy-input
        placeholder="Skill Example"
        type="text"
        formControlName="skillsAndCompetencies"
        (keydown.enter)="addSkill()"
        [disabledInput]="isMaxValue"
      >
      </wagademy-input>
    </wagademy-form-field>
  </form>
  <ul class="flex gap-4 mt-6 flex-wrap">
    @for (skill of skills; track $index) {
    <li class="bg-neutral text-neutral-950 p-1 rounded-md flex justify-between">
      <p>{{ skill }}</p>
      <button (click)="removeSkill($index)">
        <img src="./assets/icons/icon-close.svg" alt="close icon" />
      </button>
    </li>
    }
  </ul>
  } @else {
  <ul class="flex gap-4 flex-wrap">
    @for (skill of skills; track $index) {
    <li class="bg-neutral text-neutral-950 p-1 rounded-full">
      {{ skill }}
    </li>
    }
  </ul>
  }
  <div class="flex justify-end">
    @if (editMode) {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="areAllFormsValid"
    >
      Update
      <img src="./assets/icons/icon-check.svg" alt="check icon" />
    </button>
    } @else {
    <button
      class="mt-7 mb-6 text-neutral-950 font-bold flex gap-2 items-center"
      (click)="editMode = !editMode"
      [disabled]="isCreating"
    >
      Edit
      <img src="./assets/icons/icon-pencil.svg" alt="pencil icon" />
    </button>
    }
  </div>
  <div class="w-full flex justify-center pb-10">
    <button
      class="btn btn-primary text-base-100 text-xl w-52"
      (click)="isUpdateMode ? updateUserProfile() : createUserProfile()"
      [disabled]="editMode || isCreating || areAllFormsValid || isUpdating"
    >
      @if(isCreating || isUpdating){
      <span class="loading loading-dots"></span>
      } @else{ Save And Confirm }
    </button>
  </div>
</div>
