<div
  [ngClass]="{
          'blur-sm': displayCertificate,
        }"
  class="container mx-auto min-h-screen px-3 sm:px-0"
>
  <div
    class="flex flex-col-reverse sm:flex-row justify-between gap-4 items-center sm:mb-4 pt-8"
  >
    <div class="flex gap-2">
      <button
        (click)="displayStyle = 'grid'; setDisplayStyle('grid')"
        [ngClass]="{
          'bg-primary': displayStyle === 'grid',
          'rounded-full px-2 py-1': true
        }"
      >
        <i
          [ngClass]="{
            'text-neutral-50': displayStyle === 'grid',
            'bi bi-columns-gap text-xl': true
          }"
        ></i>
      </button>
      <button
        (click)="displayStyle = 'list'; setDisplayStyle('list')"
        [ngClass]="{
          'bg-primary': displayStyle === 'list',
          'rounded-full px-2 py-1': true
        }"
      >
        <i
          [ngClass]="{
            'text-neutral-50': displayStyle === 'list',
            'bi bi-list-ul text-xl': true
          }"
        ></i>
      </button>
    </div>
    <div>
      <label class="input flex items-center gap-2 bg-transparent text-base-200">
        <i class="bi bi-search"></i>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          class="grow text-base-200"
          placeholder="Search"
        />
      </label>
    </div>
  </div>
  <div
    onclick="modal.showModal()"
    class="grid grid-cols-1 gap-8 pt-4 pb-8"
    [ngClass]="
      displayStyle === 'list'
        ? 'w-full'
        : 'sm:grid-cols-2 lg:grid-cols-4 justify-items-center'
    "
  >
    <div
      *ngFor="let course of filteredCourses"
      (click)="selectedCourse = course"
      class="p-4 bg-neutral-400/10 rounded-lg flex-shrink-0 flex hover:shadow-lg hover:ease-in-out hover:duration-150 cursor-pointer"
      [ngClass]="
        displayStyle === 'list'
          ? 'sm:max-h-[112px] max-h-[200px] flex-row'
          : 'max-w-[304px] max-h-[280px] flex-col w-full'
      "
    >
      <img
        [ngClass]="{
            'mr-4': displayStyle === 'list',
          }"
        [src]="course.img"
        alt="Course image"
        class="object-cover w-20 h-20 rounded mb-4"
      />
      <div class="flex-col w-full">
        <h2 class="font-bold text-neutral-950 mb-2">{{ course.name }}</h2>
        <p class="line-clamp-2 mb-4 text-base-200 mr-4">
          {{ course.description }}
        </p>
        <div
          [ngClass]="{
            'text-primary': course.status !== 'claimed',
            'text-gray-500': course.status === 'claimed'
          }"
          class="text-xl text-center mt-auto font-serif sm:hidden p-2"
        >
          <button
            *ngIf="course.status === 'claimed'"
            class="p-2 text-xl font-serif sm:hidden text-primary text-center"
          >
            View In Wallet
          </button>
          <button
            *ngIf="course.status !== 'claimed'"
            class="text-xl btn sm:hidden btn-primary bg-primary font-normal w-full"
          >
            Claim
          </button>
        </div>
      </div>
      <div
        [ngClass]="
          displayStyle === 'list'
            ? 'my-auto sm:w-full flex justify-center max-w-60'
            : 'mt-auto w-full flex justify-center'
        "
      >
        <button
          *ngIf="course.status === 'claimed'"
          class="p-2 text-xl font-serif hidden sm:block text-primary text-center"
        >
          View In Wallet
        </button>

        <button
          *ngIf="course.status !== 'claimed'"
          class="text-xl btn hidden sm:block btn-primary bg-primary font-normal w-full"
        >
          Claim
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="filteredCourses.length"
    class="flex justify-center lg:justify-end pt-6 pb-3"
  >
    <wagademy-pagination
      [page]="page"
      [take]="take"
      [count]="count"
      (pageChange)="page = $event; getCourses()"
    ></wagademy-pagination>
  </div>
</div>
<wagademy-confirmation-modal
  *ngIf="selectedCourse"
  (claimEvent)="showCertificate()"
  [courseImage]="selectedCourse.img"
  [courseName]="selectedCourse.name"
  [courseDescription]="selectedCourse.description"
  [courseProgress]="selectedCourse.progress"
  [courseStatus]="selectedCourse.status"
></wagademy-confirmation-modal>
<wagademy-certificate
  *ngIf="selectedCourse && displayCertificate"
  [courseName]="selectedCourse.name"
></wagademy-certificate>
