<dialog id="modal" class="modal modal-middle">
  <div class="modal-box">
    <h3 class="text-base-100 font-mono font-bold">
      {{ title }}
    </h3>
    <p class="mt-4 text-sm font-mono text-base-200">{{ message }}</p>
    @if (externalForm) {
    <div class="pt-4">
      <wagademy-form-field [control]="externalForm" [label]="inputLabel">
        <wagademy-input [formControl]="externalForm" type="text">
        </wagademy-input>
      </wagademy-form-field>
    </div>
    }
    <form
      class="flex flex-col sm:flex-row gap-4 justify-end mt-6"
      method="dialog"
    >
      <button
        class="btn btn-outline sm:w-24 w-full"
        [ngClass]="[typeModal === 'success' ? 'btn-primary' : 'btn-error']"
        [disabled]="isLoading"
      >
        Cancel
      </button>
      <button
        class="btn whitespace-nowrap"
        [ngClass]="[typeModal === 'success' ? 'btn-primary' : 'btn-error']"
        type="button"
        (click)="this.actionButtonClick.emit()"
        [disabled]="isLoading || externalForm?.invalid"
      >
        @if (isLoading) {
        <span class="loading loading-dots"></span>
        } @else {
        {{ actionButtonLabel }}
        }
      </button>
    </form>
  </div>
</dialog>
