<dialog id="modal" class="modal modal-middle">
  <div class="modal-box">
    <h3 class="text-base-100 font-mono font-bold">
      {{ title }}
    </h3>
    <p class="mt-4 text-sm font-mono text-base-200">{{ message }}</p>
    <form
      class="flex flex-col sm:flex-row gap-4 justify-end mt-6"
      method="dialog"
    >
      <button
        class="btn btn-outline btn-primary sm:w-24 w-full"
        [disabled]="isLoading"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary sm:w-24 w-full"
        type="button"
        (click)="this.actionButtonClick.emit()"
        [disabled]="isLoading"
      >
        @if (isLoading) {
        <span class="loading loading-dots"></span>
        } @else {
        {{ actionButtonLabel }}
        }
      </button>
    </form>
  </div>
</dialog>
