<div class="flex flex-col gap-4">
  <h3 class="text-secondary text-2xl font-bold">Professional experience</h3>
  <ng-container>
    <div class="flex flex-col gap-2">
      <span class="text-neutral-1 text-sm font-bold">COMPANY</span>
      <span class="text-neutral-2 font-mono">{{ company }} </span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-neutral-1 text-sm font-bold">JOB TITLE</span>
      <span class="text-neutral-2 font-mono"> {{ job }} </span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-neutral-1 text-sm font-bold">DESCRIPTION</span>
      <span class="text-neutral-2 font-mono">{{ descriptionJob }} </span>
    </div>
  </ng-container>
</div>
