<div class="flex flex-col gap-4">
  <h3 class="text-2xl font-bold text-secondary">Professional experience</h3>
  <ng-container>
    <div class="flex flex-col gap-2">
      <span class="text-sm font-bold text-neutral-1">COMPANY</span>
      <span class="font-mono text-neutral-2"
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-sm font-bold text-neutral-1">JOB TITLE</span>
      <span class="font-mono text-neutral-2"
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </span>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-sm font-bold text-neutral-1">DESCRIPTION</span>
      <span class="font-mono text-neutral-2"
        >Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </span>
    </div>
  </ng-container>
</div>
